<div class="main-container">
    <div class="icon-card-section--home-test-catalog-cards icon-card-section--gray icon-card-section--icon-card-section-root section-test-cli">
    
        <header class="nv-container base-heading--left base-heading--base-heading">
            <h1 class="text-center"> TEST MOLECULAIRE CLINIQUE</h1>
            <h2 class="nv-mh2 nv-markdown nv-markdown-inline title-card">Get insights that can improve diagnosis, prognosis, and
                patient care</h2>
        </header>
        <div class="icon-card-section--icon-card-grid-wrapper">
            <ul
                class="icon-card-section--icon-card-grid icon-card-section--card-narrow-grid icon-card-section--card-narrow-grid icon-card-section--mini-cards grid--grid">
                <li
                    class="icon-card-section-item--card-list-item-wrapper icon-card-section-item--mini-card-list-item-wrapper">
                    <a class="icon-card-section-item--card-flex-wrapper icon-card-section-item--mini-card"
                        href="endometre" target="_self"
                        aria-label="Get insights on Cardiology that can improve diagnosis, prognosis and patient care">
                        <div class="icon-card-section-item--image-wrapper">
                            <picture class="default-image--component-styles">
                                <source media="(min-width: 1260px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/4K3TjMeLWKP8zyUqZQZzLY/5915c9a7fdc822d3ca3e29ec76c80eb8/icon-heart.svg?fit=pad&amp;q=66&amp;w=3780"
                                    type="image/svg+xml">
                                <source media="(min-width: 1020px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/4K3TjMeLWKP8zyUqZQZzLY/5915c9a7fdc822d3ca3e29ec76c80eb8/icon-heart.svg?fit=pad&amp;q=66&amp;w=3060"
                                    type="image/svg+xml">
                                <source media="(min-width: 720px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/4K3TjMeLWKP8zyUqZQZzLY/5915c9a7fdc822d3ca3e29ec76c80eb8/icon-heart.svg?fit=pad&amp;q=66&amp;w=2160"
                                    type="image/svg+xml">
                                <source media="(min-width: 375px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/4K3TjMeLWKP8zyUqZQZzLY/5915c9a7fdc822d3ca3e29ec76c80eb8/icon-heart.svg?fit=pad&amp;q=66&amp;w=1125"
                                    type="image/svg+xml">
                                <source media="(min-width: 360px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/4K3TjMeLWKP8zyUqZQZzLY/5915c9a7fdc822d3ca3e29ec76c80eb8/icon-heart.svg?fit=pad&amp;q=66&amp;w=1080"
                                    type="image/svg+xml">
                                <source media="(min-width: 320px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/4K3TjMeLWKP8zyUqZQZzLY/5915c9a7fdc822d3ca3e29ec76c80eb8/icon-heart.svg?fit=pad&amp;q=66&amp;w=960"
                                    type="image/svg+xml"><img loading="lazy"
                                    src="//images.ctfassets.net/6at1y2gofdxy/4K3TjMeLWKP8zyUqZQZzLY/5915c9a7fdc822d3ca3e29ec76c80eb8/icon-heart.svg?fit=pad&amp;q=66&amp;w=3060"
                                    data-testid="image"></picture>
                        </div>
                        <div class="icon-card-section-item--card">
                            <div class="icon-card-section-item--card-link-wrapper">
                                <div class="icon-card-section-item--card-header-and-text">
                                    <h3 class="nv-mh4 icon-card-section-item--heading nv-markdown nv-markdown-inline">
                                        Système Nerveux Central</h3>
                                </div>
                            </div>
                        </div>
                    </a></li>
                <li
                    class="icon-card-section-item--card-list-item-wrapper icon-card-section-item--mini-card-list-item-wrapper">
                    <a class="icon-card-section-item--card-flex-wrapper icon-card-section-item--mini-card"
                        routerLink="/poumon" target="_self"
                        aria-label="Get insights on Dermatology that can improve diagnosis, prognosis and patient care">
                        <div class="icon-card-section-item--image-wrapper">
                            <picture class="default-image--component-styles">
                                <source media="(min-width: 1260px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/79kJ5fNWbpgV5eRPr7zSYa/f7932c90bdf257973ef54b0856f3735b/icon-dermatology.svg?fit=pad&amp;q=66&amp;w=3780"
                                    type="image/svg+xml">
                                <source media="(min-width: 1020px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/79kJ5fNWbpgV5eRPr7zSYa/f7932c90bdf257973ef54b0856f3735b/icon-dermatology.svg?fit=pad&amp;q=66&amp;w=3060"
                                    type="image/svg+xml">
                                <source media="(min-width: 720px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/79kJ5fNWbpgV5eRPr7zSYa/f7932c90bdf257973ef54b0856f3735b/icon-dermatology.svg?fit=pad&amp;q=66&amp;w=2160"
                                    type="image/svg+xml">
                                <source media="(min-width: 375px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/79kJ5fNWbpgV5eRPr7zSYa/f7932c90bdf257973ef54b0856f3735b/icon-dermatology.svg?fit=pad&amp;q=66&amp;w=1125"
                                    type="image/svg+xml">
                                <source media="(min-width: 360px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/79kJ5fNWbpgV5eRPr7zSYa/f7932c90bdf257973ef54b0856f3735b/icon-dermatology.svg?fit=pad&amp;q=66&amp;w=1080"
                                    type="image/svg+xml">
                                <source media="(min-width: 320px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/79kJ5fNWbpgV5eRPr7zSYa/f7932c90bdf257973ef54b0856f3735b/icon-dermatology.svg?fit=pad&amp;q=66&amp;w=960"
                                    type="image/svg+xml"><img loading="lazy"
                                    src="//images.ctfassets.net/6at1y2gofdxy/79kJ5fNWbpgV5eRPr7zSYa/f7932c90bdf257973ef54b0856f3735b/icon-dermatology.svg?fit=pad&amp;q=66&amp;w=3060"
                                    data-testid="image"></picture>
                        </div>
                        <div class="icon-card-section-item--card">
                            <div class="icon-card-section-item--card-link-wrapper">
                                <div class="icon-card-section-item--card-header-and-text">
                                    <h3 class="nv-mh4 icon-card-section-item--heading nv-markdown nv-markdown-inline">
                                        Peau</h3>
                                </div>
                            </div>
                        </div>
                    </a></li>
                <li
                    class="icon-card-section-item--card-list-item-wrapper icon-card-section-item--mini-card-list-item-wrapper">
                    <a class="icon-card-section-item--card-flex-wrapper icon-card-section-item--mini-card"
                        routerLink="/poumon" target="_self"
                        aria-label="Get insights on Developmental disorders (cytogenetics) that can improve diagnosis, prognosis and patient care">
                        <div class="icon-card-section-item--image-wrapper">
                            <picture class="default-image--component-styles">
                                <source media="(min-width: 1260px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/6yQCqrWtTb3IODAaCVie9s/ea1cb7b8d6294f094d559e61862fd30c/icon-cytogenetics.svg?fit=pad&amp;q=66&amp;w=3780"
                                    type="image/svg+xml">
                                <source media="(min-width: 1020px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/6yQCqrWtTb3IODAaCVie9s/ea1cb7b8d6294f094d559e61862fd30c/icon-cytogenetics.svg?fit=pad&amp;q=66&amp;w=3060"
                                    type="image/svg+xml">
                                <source media="(min-width: 720px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/6yQCqrWtTb3IODAaCVie9s/ea1cb7b8d6294f094d559e61862fd30c/icon-cytogenetics.svg?fit=pad&amp;q=66&amp;w=2160"
                                    type="image/svg+xml">
                                <source media="(min-width: 375px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/6yQCqrWtTb3IODAaCVie9s/ea1cb7b8d6294f094d559e61862fd30c/icon-cytogenetics.svg?fit=pad&amp;q=66&amp;w=1125"
                                    type="image/svg+xml">
                                <source media="(min-width: 360px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/6yQCqrWtTb3IODAaCVie9s/ea1cb7b8d6294f094d559e61862fd30c/icon-cytogenetics.svg?fit=pad&amp;q=66&amp;w=1080"
                                    type="image/svg+xml">
                                <source media="(min-width: 320px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/6yQCqrWtTb3IODAaCVie9s/ea1cb7b8d6294f094d559e61862fd30c/icon-cytogenetics.svg?fit=pad&amp;q=66&amp;w=960"
                                    type="image/svg+xml"><img loading="lazy"
                                    src="//images.ctfassets.net/6at1y2gofdxy/6yQCqrWtTb3IODAaCVie9s/ea1cb7b8d6294f094d559e61862fd30c/icon-cytogenetics.svg?fit=pad&amp;q=66&amp;w=3060"
                                    data-testid="image"></picture>
                        </div>
                        <div class="icon-card-section-item--card">
                            <div class="icon-card-section-item--card-link-wrapper">
                                <div class="icon-card-section-item--card-header-and-text">
                                    <h3 class="nv-mh4 icon-card-section-item--heading nv-markdown nv-markdown-inline">
                                        Poumon</h3>
                                </div>
                            </div>
                        </div>
                    </a></li>
                <li
                    class="icon-card-section-item--card-list-item-wrapper icon-card-section-item--mini-card-list-item-wrapper">
                    <a class="icon-card-section-item--card-flex-wrapper icon-card-section-item--mini-card"
                        href="endometre.html" target="_self"
                        aria-label="Get insights on Endocrinology that can improve diagnosis, prognosis and patient care">
                        <div class="icon-card-section-item--image-wrapper">
                            <picture class="default-image--component-styles">
                                <source media="(min-width: 1260px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/D5tc5L6h6DapZ23nblYii/c43010415fc90d1eff5d3c5e2ddb16ae/icon-endocrinology.svg?fit=pad&amp;q=66&amp;w=3780"
                                    type="image/svg+xml">
                                <source media="(min-width: 1020px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/D5tc5L6h6DapZ23nblYii/c43010415fc90d1eff5d3c5e2ddb16ae/icon-endocrinology.svg?fit=pad&amp;q=66&amp;w=3060"
                                    type="image/svg+xml">
                                <source media="(min-width: 720px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/D5tc5L6h6DapZ23nblYii/c43010415fc90d1eff5d3c5e2ddb16ae/icon-endocrinology.svg?fit=pad&amp;q=66&amp;w=2160"
                                    type="image/svg+xml">
                                <source media="(min-width: 375px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/D5tc5L6h6DapZ23nblYii/c43010415fc90d1eff5d3c5e2ddb16ae/icon-endocrinology.svg?fit=pad&amp;q=66&amp;w=1125"
                                    type="image/svg+xml">
                                <source media="(min-width: 360px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/D5tc5L6h6DapZ23nblYii/c43010415fc90d1eff5d3c5e2ddb16ae/icon-endocrinology.svg?fit=pad&amp;q=66&amp;w=1080"
                                    type="image/svg+xml">
                                <source media="(min-width: 320px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/D5tc5L6h6DapZ23nblYii/c43010415fc90d1eff5d3c5e2ddb16ae/icon-endocrinology.svg?fit=pad&amp;q=66&amp;w=960"
                                    type="image/svg+xml"><img loading="lazy"
                                    src="//images.ctfassets.net/6at1y2gofdxy/D5tc5L6h6DapZ23nblYii/c43010415fc90d1eff5d3c5e2ddb16ae/icon-endocrinology.svg?fit=pad&amp;q=66&amp;w=3060"
                                    data-testid="image"></picture>
                        </div>
                        <div class="icon-card-section-item--card">
                            <div class="icon-card-section-item--card-link-wrapper">
                                <div class="icon-card-section-item--card-header-and-text">
                                    <h3 class="nv-mh4 icon-card-section-item--heading nv-markdown nv-markdown-inline">
                                        Thyroide</h3>
                                </div>
                            </div>
                        </div>
                    </a></li>
                <li
                    class="icon-card-section-item--card-list-item-wrapper icon-card-section-item--mini-card-list-item-wrapper">
                    <a class="icon-card-section-item--card-flex-wrapper icon-card-section-item--mini-card"
                        href="" target="_self"
                        aria-label="Get insights on Exome that can improve diagnosis, prognosis and patient care">
                        <div class="icon-card-section-item--image-wrapper">
                            <picture class="default-image--component-styles">
                                <source media="(min-width: 1260px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/1xdyZYo2fjQvObEu8tqAKt/e77c41cdb0fe3b07457457ba4ebb38cb/icon-exome.svg?fit=pad&amp;q=66&amp;w=3780"
                                    type="image/svg+xml">
                                <source media="(min-width: 1020px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/1xdyZYo2fjQvObEu8tqAKt/e77c41cdb0fe3b07457457ba4ebb38cb/icon-exome.svg?fit=pad&amp;q=66&amp;w=3060"
                                    type="image/svg+xml">
                                <source media="(min-width: 720px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/1xdyZYo2fjQvObEu8tqAKt/e77c41cdb0fe3b07457457ba4ebb38cb/icon-exome.svg?fit=pad&amp;q=66&amp;w=2160"
                                    type="image/svg+xml">
                                <source media="(min-width: 375px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/1xdyZYo2fjQvObEu8tqAKt/e77c41cdb0fe3b07457457ba4ebb38cb/icon-exome.svg?fit=pad&amp;q=66&amp;w=1125"
                                    type="image/svg+xml">
                                <source media="(min-width: 360px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/1xdyZYo2fjQvObEu8tqAKt/e77c41cdb0fe3b07457457ba4ebb38cb/icon-exome.svg?fit=pad&amp;q=66&amp;w=1080"
                                    type="image/svg+xml">
                                <source media="(min-width: 320px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/1xdyZYo2fjQvObEu8tqAKt/e77c41cdb0fe3b07457457ba4ebb38cb/icon-exome.svg?fit=pad&amp;q=66&amp;w=960"
                                    type="image/svg+xml"><img loading="lazy"
                                    src="//images.ctfassets.net/6at1y2gofdxy/1xdyZYo2fjQvObEu8tqAKt/e77c41cdb0fe3b07457457ba4ebb38cb/icon-exome.svg?fit=pad&amp;q=66&amp;w=3060"
                                    data-testid="image"></picture>
                        </div>
                        <div class="icon-card-section-item--card">
                            <div class="icon-card-section-item--card-link-wrapper">
                                <div class="icon-card-section-item--card-header-and-text">
                                    <h3 class="nv-mh4 icon-card-section-item--heading nv-markdown nv-markdown-inline">
                                        Colon</h3>
                                </div>
                            </div>
                        </div>
                    </a></li>
                <li
                    class="icon-card-section-item--card-list-item-wrapper icon-card-section-item--mini-card-list-item-wrapper">
                    <a class="icon-card-section-item--card-flex-wrapper icon-card-section-item--mini-card"
                        href="" target="_self"
                        aria-label="Get insights on Hematology that can improve diagnosis, prognosis and patient care">
                        <div class="icon-card-section-item--image-wrapper">
                            <picture class="default-image--component-styles">
                                <source media="(min-width: 1260px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/5Tp0ii0BftkXtjuWxO6ZN3/b9b0069fdf427384dde8f083ff50d0be/icon-blood.svg?fit=pad&amp;q=66&amp;w=3780"
                                    type="image/svg+xml">
                                <source media="(min-width: 1020px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/5Tp0ii0BftkXtjuWxO6ZN3/b9b0069fdf427384dde8f083ff50d0be/icon-blood.svg?fit=pad&amp;q=66&amp;w=3060"
                                    type="image/svg+xml">
                                <source media="(min-width: 720px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/5Tp0ii0BftkXtjuWxO6ZN3/b9b0069fdf427384dde8f083ff50d0be/icon-blood.svg?fit=pad&amp;q=66&amp;w=2160"
                                    type="image/svg+xml">
                                <source media="(min-width: 375px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/5Tp0ii0BftkXtjuWxO6ZN3/b9b0069fdf427384dde8f083ff50d0be/icon-blood.svg?fit=pad&amp;q=66&amp;w=1125"
                                    type="image/svg+xml">
                                <source media="(min-width: 360px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/5Tp0ii0BftkXtjuWxO6ZN3/b9b0069fdf427384dde8f083ff50d0be/icon-blood.svg?fit=pad&amp;q=66&amp;w=1080"
                                    type="image/svg+xml">
                                <source media="(min-width: 320px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/5Tp0ii0BftkXtjuWxO6ZN3/b9b0069fdf427384dde8f083ff50d0be/icon-blood.svg?fit=pad&amp;q=66&amp;w=960"
                                    type="image/svg+xml"><img loading="lazy"
                                    src="//images.ctfassets.net/6at1y2gofdxy/5Tp0ii0BftkXtjuWxO6ZN3/b9b0069fdf427384dde8f083ff50d0be/icon-blood.svg?fit=pad&amp;q=66&amp;w=3060"
                                    data-testid="image"></picture>
                        </div>
                        <div class="icon-card-section-item--card">
                            <div class="icon-card-section-item--card-link-wrapper">
                                <div class="icon-card-section-item--card-header-and-text">
                                    <h3 class="nv-mh4 icon-card-section-item--heading nv-markdown nv-markdown-inline">
                                        Sarcome</h3>
                                </div>
                            </div>
                        </div>
                    </a></li>
                <li
                    class="icon-card-section-item--card-list-item-wrapper icon-card-section-item--mini-card-list-item-wrapper">
                    <a class="icon-card-section-item--card-flex-wrapper icon-card-section-item--mini-card"
                        href="" target="_self"
                        aria-label="Get insights on Hereditary cancer that can improve diagnosis, prognosis and patient care">
                        <div class="icon-card-section-item--image-wrapper">
                            <picture class="default-image--component-styles">
                                <source media="(min-width: 1260px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/6Tqn8HSl66T9uo0Wj17WsZ/fa098be9ec34aad77cba59b0c44d0f2d/icon-cancer.svg?fit=pad&amp;q=66&amp;w=3780"
                                    type="image/svg+xml">
                                <source media="(min-width: 1020px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/6Tqn8HSl66T9uo0Wj17WsZ/fa098be9ec34aad77cba59b0c44d0f2d/icon-cancer.svg?fit=pad&amp;q=66&amp;w=3060"
                                    type="image/svg+xml">
                                <source media="(min-width: 720px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/6Tqn8HSl66T9uo0Wj17WsZ/fa098be9ec34aad77cba59b0c44d0f2d/icon-cancer.svg?fit=pad&amp;q=66&amp;w=2160"
                                    type="image/svg+xml">
                                <source media="(min-width: 375px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/6Tqn8HSl66T9uo0Wj17WsZ/fa098be9ec34aad77cba59b0c44d0f2d/icon-cancer.svg?fit=pad&amp;q=66&amp;w=1125"
                                    type="image/svg+xml">
                                <source media="(min-width: 360px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/6Tqn8HSl66T9uo0Wj17WsZ/fa098be9ec34aad77cba59b0c44d0f2d/icon-cancer.svg?fit=pad&amp;q=66&amp;w=1080"
                                    type="image/svg+xml">
                                <source media="(min-width: 320px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/6Tqn8HSl66T9uo0Wj17WsZ/fa098be9ec34aad77cba59b0c44d0f2d/icon-cancer.svg?fit=pad&amp;q=66&amp;w=960"
                                    type="image/svg+xml"><img loading="lazy"
                                    src="//images.ctfassets.net/6at1y2gofdxy/6Tqn8HSl66T9uo0Wj17WsZ/fa098be9ec34aad77cba59b0c44d0f2d/icon-cancer.svg?fit=pad&amp;q=66&amp;w=3060"
                                    data-testid="image"></picture>
                        </div>
                        <div class="icon-card-section-item--card">
                            <div class="icon-card-section-item--card-link-wrapper">
                                <div class="icon-card-section-item--card-header-and-text">
                                    <h3 class="nv-mh4 icon-card-section-item--heading nv-markdown nv-markdown-inline">
                                        Ovaire et trompe de Fallope</h3>
                                </div>
                            </div>
                        </div>
                    </a></li>
                <li
                    class="icon-card-section-item--card-list-item-wrapper icon-card-section-item--mini-card-list-item-wrapper">
                    <a class="icon-card-section-item--card-flex-wrapper icon-card-section-item--mini-card"
                        href="endometre.html" target="_self"
                        aria-label="Get insights on Immunology that can improve diagnosis, prognosis and patient care">
                        <div class="icon-card-section-item--image-wrapper">
                            <picture class="default-image--component-styles">
                                <source media="(min-width: 1260px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/1Qgn6YWaJWpwrCx45u9FbY/3a81163fda90eecc3aaec3a14590c57c/icon-immunology.svg?fit=pad&amp;q=66&amp;w=3780"
                                    type="image/svg+xml">
                                <source media="(min-width: 1020px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/1Qgn6YWaJWpwrCx45u9FbY/3a81163fda90eecc3aaec3a14590c57c/icon-immunology.svg?fit=pad&amp;q=66&amp;w=3060"
                                    type="image/svg+xml">
                                <source media="(min-width: 720px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/1Qgn6YWaJWpwrCx45u9FbY/3a81163fda90eecc3aaec3a14590c57c/icon-immunology.svg?fit=pad&amp;q=66&amp;w=2160"
                                    type="image/svg+xml">
                                <source media="(min-width: 375px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/1Qgn6YWaJWpwrCx45u9FbY/3a81163fda90eecc3aaec3a14590c57c/icon-immunology.svg?fit=pad&amp;q=66&amp;w=1125"
                                    type="image/svg+xml">
                                <source media="(min-width: 360px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/1Qgn6YWaJWpwrCx45u9FbY/3a81163fda90eecc3aaec3a14590c57c/icon-immunology.svg?fit=pad&amp;q=66&amp;w=1080"
                                    type="image/svg+xml">
                                <source media="(min-width: 320px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/1Qgn6YWaJWpwrCx45u9FbY/3a81163fda90eecc3aaec3a14590c57c/icon-immunology.svg?fit=pad&amp;q=66&amp;w=960"
                                    type="image/svg+xml"><img loading="lazy"
                                    src="//images.ctfassets.net/6at1y2gofdxy/1Qgn6YWaJWpwrCx45u9FbY/3a81163fda90eecc3aaec3a14590c57c/icon-immunology.svg?fit=pad&amp;q=66&amp;w=3060"
                                    data-testid="image"></picture>
                        </div>
                        <div class="icon-card-section-item--card">
                            <div class="icon-card-section-item--card-link-wrapper">
                                <div class="icon-card-section-item--card-header-and-text">
                                    <h3 class="nv-mh4 icon-card-section-item--heading nv-markdown nv-markdown-inline">
                                        Endomètre</h3>
                                </div>
                            </div>
                        </div>
                    </a></li>
                <li
                    class="icon-card-section-item--card-list-item-wrapper icon-card-section-item--mini-card-list-item-wrapper">
                    <a class="icon-card-section-item--card-flex-wrapper icon-card-section-item--mini-card"
                        href="" target="_self"
                        aria-label="Get insights on Metabolic disorders and newborn screening that can improve diagnosis, prognosis and patient care">
                        <div class="icon-card-section-item--image-wrapper">
                            <picture class="default-image--component-styles">
                                <source media="(min-width: 1260px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/6Bvas9J0KzdsEev092d4iX/106f2c5876355130a88a59c2452ddeb4/icon-metabolic.svg?fit=pad&amp;q=66&amp;w=3780"
                                    type="image/svg+xml">
                                <source media="(min-width: 1020px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/6Bvas9J0KzdsEev092d4iX/106f2c5876355130a88a59c2452ddeb4/icon-metabolic.svg?fit=pad&amp;q=66&amp;w=3060"
                                    type="image/svg+xml">
                                <source media="(min-width: 720px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/6Bvas9J0KzdsEev092d4iX/106f2c5876355130a88a59c2452ddeb4/icon-metabolic.svg?fit=pad&amp;q=66&amp;w=2160"
                                    type="image/svg+xml">
                                <source media="(min-width: 375px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/6Bvas9J0KzdsEev092d4iX/106f2c5876355130a88a59c2452ddeb4/icon-metabolic.svg?fit=pad&amp;q=66&amp;w=1125"
                                    type="image/svg+xml">
                                <source media="(min-width: 360px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/6Bvas9J0KzdsEev092d4iX/106f2c5876355130a88a59c2452ddeb4/icon-metabolic.svg?fit=pad&amp;q=66&amp;w=1080"
                                    type="image/svg+xml">
                                <source media="(min-width: 320px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/6Bvas9J0KzdsEev092d4iX/106f2c5876355130a88a59c2452ddeb4/icon-metabolic.svg?fit=pad&amp;q=66&amp;w=960"
                                    type="image/svg+xml"><img loading="lazy"
                                    src="//images.ctfassets.net/6at1y2gofdxy/6Bvas9J0KzdsEev092d4iX/106f2c5876355130a88a59c2452ddeb4/icon-metabolic.svg?fit=pad&amp;q=66&amp;w=3060"
                                    data-testid="image"></picture>
                        </div>
                        <div class="icon-card-section-item--card">
                            <div class="icon-card-section-item--card-link-wrapper">
                                <div class="icon-card-section-item--card-header-and-text">
                                    <h3 class="nv-mh4 icon-card-section-item--heading nv-markdown nv-markdown-inline">
                                        Prostate</h3>
                                </div>
                            </div>
                        </div>
                    </a></li>
                <li
                    class="icon-card-section-item--card-list-item-wrapper icon-card-section-item--mini-card-list-item-wrapper">
                    <a class="icon-card-section-item--card-flex-wrapper icon-card-section-item--mini-card"
                        href="" target="_self"
                        aria-label="Get insights on Nephrology that can improve diagnosis, prognosis and patient care">
                        <div class="icon-card-section-item--image-wrapper">
                            <picture class="default-image--component-styles">
                                <source media="(min-width: 1260px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/2GU4F1ReaeBOgXrTk29I7X/fd50c4a9643a47f003e71cc204f1dff6/icon-nephrology.svg?fit=pad&amp;q=66&amp;w=3780"
                                    type="image/svg+xml">
                                <source media="(min-width: 1020px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/2GU4F1ReaeBOgXrTk29I7X/fd50c4a9643a47f003e71cc204f1dff6/icon-nephrology.svg?fit=pad&amp;q=66&amp;w=3060"
                                    type="image/svg+xml">
                                <source media="(min-width: 720px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/2GU4F1ReaeBOgXrTk29I7X/fd50c4a9643a47f003e71cc204f1dff6/icon-nephrology.svg?fit=pad&amp;q=66&amp;w=2160"
                                    type="image/svg+xml">
                                <source media="(min-width: 375px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/2GU4F1ReaeBOgXrTk29I7X/fd50c4a9643a47f003e71cc204f1dff6/icon-nephrology.svg?fit=pad&amp;q=66&amp;w=1125"
                                    type="image/svg+xml">
                                <source media="(min-width: 360px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/2GU4F1ReaeBOgXrTk29I7X/fd50c4a9643a47f003e71cc204f1dff6/icon-nephrology.svg?fit=pad&amp;q=66&amp;w=1080"
                                    type="image/svg+xml">
                                <source media="(min-width: 320px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/2GU4F1ReaeBOgXrTk29I7X/fd50c4a9643a47f003e71cc204f1dff6/icon-nephrology.svg?fit=pad&amp;q=66&amp;w=960"
                                    type="image/svg+xml"><img loading="lazy"
                                    src="//images.ctfassets.net/6at1y2gofdxy/2GU4F1ReaeBOgXrTk29I7X/fd50c4a9643a47f003e71cc204f1dff6/icon-nephrology.svg?fit=pad&amp;q=66&amp;w=3060"
                                    data-testid="image"></picture>
                        </div>
                        <div class="icon-card-section-item--card">
                            <div class="icon-card-section-item--card-link-wrapper">
                                <div class="icon-card-section-item--card-header-and-text">
                                    <h3 class="nv-mh4 icon-card-section-item--heading nv-markdown nv-markdown-inline">
                                        Sein</h3>
                                </div>
                            </div>
                        </div>
                    </a></li>
                <li
                    class="icon-card-section-item--card-list-item-wrapper icon-card-section-item--mini-card-list-item-wrapper">
                    <a class="icon-card-section-item--card-flex-wrapper icon-card-section-item--mini-card"
                        href="" target="_self"
                        aria-label="Get insights on Neurology that can improve diagnosis, prognosis and patient care">
                        <div class="icon-card-section-item--image-wrapper">
                            <picture class="default-image--component-styles">
                                <source media="(min-width: 1260px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/5ip5HGohXLcy9G4nZLY3WF/3a596e27de5a40e45ee281fa080b7b79/icon-brain.svg?fit=pad&amp;q=66&amp;w=3780"
                                    type="image/svg+xml">
                                <source media="(min-width: 1020px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/5ip5HGohXLcy9G4nZLY3WF/3a596e27de5a40e45ee281fa080b7b79/icon-brain.svg?fit=pad&amp;q=66&amp;w=3060"
                                    type="image/svg+xml">
                                <source media="(min-width: 720px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/5ip5HGohXLcy9G4nZLY3WF/3a596e27de5a40e45ee281fa080b7b79/icon-brain.svg?fit=pad&amp;q=66&amp;w=2160"
                                    type="image/svg+xml">
                                <source media="(min-width: 375px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/5ip5HGohXLcy9G4nZLY3WF/3a596e27de5a40e45ee281fa080b7b79/icon-brain.svg?fit=pad&amp;q=66&amp;w=1125"
                                    type="image/svg+xml">
                                <source media="(min-width: 360px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/5ip5HGohXLcy9G4nZLY3WF/3a596e27de5a40e45ee281fa080b7b79/icon-brain.svg?fit=pad&amp;q=66&amp;w=1080"
                                    type="image/svg+xml">
                                <source media="(min-width: 320px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/5ip5HGohXLcy9G4nZLY3WF/3a596e27de5a40e45ee281fa080b7b79/icon-brain.svg?fit=pad&amp;q=66&amp;w=960"
                                    type="image/svg+xml"><img loading="lazy"
                                    src="//images.ctfassets.net/6at1y2gofdxy/5ip5HGohXLcy9G4nZLY3WF/3a596e27de5a40e45ee281fa080b7b79/icon-brain.svg?fit=pad&amp;q=66&amp;w=3060"
                                    data-testid="image"></picture>
                        </div>
                        <div class="icon-card-section-item--card">
                            <div class="icon-card-section-item--card-link-wrapper">
                                <div class="icon-card-section-item--card-header-and-text">
                                    <h3 class="nv-mh4 icon-card-section-item--heading nv-markdown nv-markdown-inline">
                                        Pancréas</h3>
                                </div>
                            </div>
                        </div>
                    </a></li>
                <li
                    class="icon-card-section-item--card-list-item-wrapper icon-card-section-item--mini-card-list-item-wrapper">
                    <a class="icon-card-section-item--card-flex-wrapper icon-card-section-item--mini-card"
                        href="" target="_self"
                        aria-label="Get insights on Ophthalmology that can improve diagnosis, prognosis and patient care">
                        <div class="icon-card-section-item--image-wrapper">
                            <picture class="default-image--component-styles">
                                <source media="(min-width: 1260px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/4yVkEFmNWzAhzWe23mLT4l/d113fa198b5142070ca20645507a49f8/icon-eye.svg?fit=pad&amp;q=66&amp;w=3780"
                                    type="image/svg+xml">
                                <source media="(min-width: 1020px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/4yVkEFmNWzAhzWe23mLT4l/d113fa198b5142070ca20645507a49f8/icon-eye.svg?fit=pad&amp;q=66&amp;w=3060"
                                    type="image/svg+xml">
                                <source media="(min-width: 720px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/4yVkEFmNWzAhzWe23mLT4l/d113fa198b5142070ca20645507a49f8/icon-eye.svg?fit=pad&amp;q=66&amp;w=2160"
                                    type="image/svg+xml">
                                <source media="(min-width: 375px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/4yVkEFmNWzAhzWe23mLT4l/d113fa198b5142070ca20645507a49f8/icon-eye.svg?fit=pad&amp;q=66&amp;w=1125"
                                    type="image/svg+xml">
                                <source media="(min-width: 360px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/4yVkEFmNWzAhzWe23mLT4l/d113fa198b5142070ca20645507a49f8/icon-eye.svg?fit=pad&amp;q=66&amp;w=1080"
                                    type="image/svg+xml">
                                <source media="(min-width: 320px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/4yVkEFmNWzAhzWe23mLT4l/d113fa198b5142070ca20645507a49f8/icon-eye.svg?fit=pad&amp;q=66&amp;w=960"
                                    type="image/svg+xml"><img loading="lazy"
                                    src="//images.ctfassets.net/6at1y2gofdxy/4yVkEFmNWzAhzWe23mLT4l/d113fa198b5142070ca20645507a49f8/icon-eye.svg?fit=pad&amp;q=66&amp;w=3060"
                                    data-testid="image"></picture>
                        </div>
                        <div class="icon-card-section-item--card">
                            <div class="icon-card-section-item--card-link-wrapper">
                                <div class="icon-card-section-item--card-header-and-text">
                                    <h3 class="nv-mh4 icon-card-section-item--heading nv-markdown nv-markdown-inline">
                                        Neoplasmes Histiocytiques</h3>
                                </div>
                            </div>
                        </div>
                    </a></li>
                <li
                    class="icon-card-section-item--card-list-item-wrapper icon-card-section-item--mini-card-list-item-wrapper">
                    <a class="icon-card-section-item--card-flex-wrapper icon-card-section-item--mini-card"
                        href="" target="_self"
                        aria-label="Get insights on Pediatric genetics that can improve diagnosis, prognosis and patient care">
                        <div class="icon-card-section-item--image-wrapper">
                            <picture class="default-image--component-styles">
                                <source media="(min-width: 1260px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/2AYLwQDMOqxu4ne1ZqU30n/d62b74c3df6c2404d498a85a28e0a6f3/icon-pediatrics.svg?fit=pad&amp;q=66&amp;w=3780"
                                    type="image/svg+xml">
                                <source media="(min-width: 1020px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/2AYLwQDMOqxu4ne1ZqU30n/d62b74c3df6c2404d498a85a28e0a6f3/icon-pediatrics.svg?fit=pad&amp;q=66&amp;w=3060"
                                    type="image/svg+xml">
                                <source media="(min-width: 720px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/2AYLwQDMOqxu4ne1ZqU30n/d62b74c3df6c2404d498a85a28e0a6f3/icon-pediatrics.svg?fit=pad&amp;q=66&amp;w=2160"
                                    type="image/svg+xml">
                                <source media="(min-width: 375px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/2AYLwQDMOqxu4ne1ZqU30n/d62b74c3df6c2404d498a85a28e0a6f3/icon-pediatrics.svg?fit=pad&amp;q=66&amp;w=1125"
                                    type="image/svg+xml">
                                <source media="(min-width: 360px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/2AYLwQDMOqxu4ne1ZqU30n/d62b74c3df6c2404d498a85a28e0a6f3/icon-pediatrics.svg?fit=pad&amp;q=66&amp;w=1080"
                                    type="image/svg+xml">
                                <source media="(min-width: 320px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/2AYLwQDMOqxu4ne1ZqU30n/d62b74c3df6c2404d498a85a28e0a6f3/icon-pediatrics.svg?fit=pad&amp;q=66&amp;w=960"
                                    type="image/svg+xml"><img loading="lazy"
                                    src="//images.ctfassets.net/6at1y2gofdxy/2AYLwQDMOqxu4ne1ZqU30n/d62b74c3df6c2404d498a85a28e0a6f3/icon-pediatrics.svg?fit=pad&amp;q=66&amp;w=3060"
                                    data-testid="image"></picture>
                        </div>
                        <div class="icon-card-section-item--card">
                            <div class="icon-card-section-item--card-link-wrapper">
                                <div class="icon-card-section-item--card-header-and-text">
                                    <h3 class="nv-mh4 icon-card-section-item--heading nv-markdown nv-markdown-inline">
                                        Estomac</h3>
                                </div>
                            </div>
                        </div>
                    </a></li>
                <li
                    class="icon-card-section-item--card-list-item-wrapper icon-card-section-item--mini-card-list-item-wrapper">
                    <a class="icon-card-section-item--card-flex-wrapper icon-card-section-item--mini-card"
                        href="" target="_self"
                        aria-label="Get insights on Personalized cancer monitoring and MRD that can improve diagnosis, prognosis and patient care">
                        <div class="icon-card-section-item--image-wrapper">
                            <picture class="default-image--component-styles">
                                <source media="(min-width: 1260px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/bb9hWXohK1LooPfogbVpF/896df52a4d07d8c234ec15931b200164/icon-sample-analysis_Cobalt80px.svg?fit=pad&amp;q=66&amp;w=3780"
                                    type="image/svg+xml">
                                <source media="(min-width: 1020px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/bb9hWXohK1LooPfogbVpF/896df52a4d07d8c234ec15931b200164/icon-sample-analysis_Cobalt80px.svg?fit=pad&amp;q=66&amp;w=3060"
                                    type="image/svg+xml">
                                <source media="(min-width: 720px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/bb9hWXohK1LooPfogbVpF/896df52a4d07d8c234ec15931b200164/icon-sample-analysis_Cobalt80px.svg?fit=pad&amp;q=66&amp;w=2160"
                                    type="image/svg+xml">
                                <source media="(min-width: 375px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/bb9hWXohK1LooPfogbVpF/896df52a4d07d8c234ec15931b200164/icon-sample-analysis_Cobalt80px.svg?fit=pad&amp;q=66&amp;w=1125"
                                    type="image/svg+xml">
                                <source media="(min-width: 360px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/bb9hWXohK1LooPfogbVpF/896df52a4d07d8c234ec15931b200164/icon-sample-analysis_Cobalt80px.svg?fit=pad&amp;q=66&amp;w=1080"
                                    type="image/svg+xml">
                                <source media="(min-width: 320px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/bb9hWXohK1LooPfogbVpF/896df52a4d07d8c234ec15931b200164/icon-sample-analysis_Cobalt80px.svg?fit=pad&amp;q=66&amp;w=960"
                                    type="image/svg+xml"><img loading="lazy"
                                    src="//images.ctfassets.net/6at1y2gofdxy/bb9hWXohK1LooPfogbVpF/896df52a4d07d8c234ec15931b200164/icon-sample-analysis_Cobalt80px.svg?fit=pad&amp;q=66&amp;w=3060"
                                    data-testid="image"></picture>
                        </div>
                        <div class="icon-card-section-item--card">
                            <div class="icon-card-section-item--card-link-wrapper">
                                <div class="icon-card-section-item--card-header-and-text">
                                    <h3 class="nv-mh4 icon-card-section-item--heading nv-markdown nv-markdown-inline">
                                        Œsophage</h3>
                                </div>
                            </div>
                        </div>
                    </a></li>
                    <li
                    class="icon-card-section-item--card-list-item-wrapper icon-card-section-item--mini-card-list-item-wrapper">
                    <a class="icon-card-section-item--card-flex-wrapper icon-card-section-item--mini-card"
                        href="" target="_self"
                        aria-label="Get insights on Personalized cancer monitoring and MRD that can improve diagnosis, prognosis and patient care">
                        <div class="icon-card-section-item--image-wrapper">
                            <picture class="default-image--component-styles">
                                <source media="(min-width: 1260px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/bb9hWXohK1LooPfogbVpF/896df52a4d07d8c234ec15931b200164/icon-sample-analysis_Cobalt80px.svg?fit=pad&amp;q=66&amp;w=3780"
                                    type="image/svg+xml">
                                <source media="(min-width: 1020px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/bb9hWXohK1LooPfogbVpF/896df52a4d07d8c234ec15931b200164/icon-sample-analysis_Cobalt80px.svg?fit=pad&amp;q=66&amp;w=3060"
                                    type="image/svg+xml">
                                <source media="(min-width: 720px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/bb9hWXohK1LooPfogbVpF/896df52a4d07d8c234ec15931b200164/icon-sample-analysis_Cobalt80px.svg?fit=pad&amp;q=66&amp;w=2160"
                                    type="image/svg+xml">
                                <source media="(min-width: 375px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/bb9hWXohK1LooPfogbVpF/896df52a4d07d8c234ec15931b200164/icon-sample-analysis_Cobalt80px.svg?fit=pad&amp;q=66&amp;w=1125"
                                    type="image/svg+xml">
                                <source media="(min-width: 360px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/bb9hWXohK1LooPfogbVpF/896df52a4d07d8c234ec15931b200164/icon-sample-analysis_Cobalt80px.svg?fit=pad&amp;q=66&amp;w=1080"
                                    type="image/svg+xml">
                                <source media="(min-width: 320px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/bb9hWXohK1LooPfogbVpF/896df52a4d07d8c234ec15931b200164/icon-sample-analysis_Cobalt80px.svg?fit=pad&amp;q=66&amp;w=960"
                                    type="image/svg+xml"><img loading="lazy"
                                    src="//images.ctfassets.net/6at1y2gofdxy/bb9hWXohK1LooPfogbVpF/896df52a4d07d8c234ec15931b200164/icon-sample-analysis_Cobalt80px.svg?fit=pad&amp;q=66&amp;w=3060"
                                    data-testid="image"></picture>
                        </div>
                        <div class="icon-card-section-item--card">
                            <div class="icon-card-section-item--card-link-wrapper">
                                <div class="icon-card-section-item--card-header-and-text">
                                    <h3 class="nv-mh4 icon-card-section-item--heading nv-markdown nv-markdown-inline">
                                        Voies Biliaires</h3>
                                </div>
                            </div>
                        </div>
                    </a></li>
                    <li
                    class="icon-card-section-item--card-list-item-wrapper icon-card-section-item--mini-card-list-item-wrapper">
                    <a class="icon-card-section-item--card-flex-wrapper icon-card-section-item--mini-card"
                        href="" target="_self"
                        aria-label="Get insights on Personalized cancer monitoring and MRD that can improve diagnosis, prognosis and patient care">
                        <div class="icon-card-section-item--image-wrapper">
                            <picture class="default-image--component-styles">
                                <source media="(min-width: 1260px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/bb9hWXohK1LooPfogbVpF/896df52a4d07d8c234ec15931b200164/icon-sample-analysis_Cobalt80px.svg?fit=pad&amp;q=66&amp;w=3780"
                                    type="image/svg+xml">
                                <source media="(min-width: 1020px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/bb9hWXohK1LooPfogbVpF/896df52a4d07d8c234ec15931b200164/icon-sample-analysis_Cobalt80px.svg?fit=pad&amp;q=66&amp;w=3060"
                                    type="image/svg+xml">
                                <source media="(min-width: 720px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/bb9hWXohK1LooPfogbVpF/896df52a4d07d8c234ec15931b200164/icon-sample-analysis_Cobalt80px.svg?fit=pad&amp;q=66&amp;w=2160"
                                    type="image/svg+xml">
                                <source media="(min-width: 375px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/bb9hWXohK1LooPfogbVpF/896df52a4d07d8c234ec15931b200164/icon-sample-analysis_Cobalt80px.svg?fit=pad&amp;q=66&amp;w=1125"
                                    type="image/svg+xml">
                                <source media="(min-width: 360px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/bb9hWXohK1LooPfogbVpF/896df52a4d07d8c234ec15931b200164/icon-sample-analysis_Cobalt80px.svg?fit=pad&amp;q=66&amp;w=1080"
                                    type="image/svg+xml">
                                <source media="(min-width: 320px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/bb9hWXohK1LooPfogbVpF/896df52a4d07d8c234ec15931b200164/icon-sample-analysis_Cobalt80px.svg?fit=pad&amp;q=66&amp;w=960"
                                    type="image/svg+xml"><img loading="lazy"
                                    src="//images.ctfassets.net/6at1y2gofdxy/bb9hWXohK1LooPfogbVpF/896df52a4d07d8c234ec15931b200164/icon-sample-analysis_Cobalt80px.svg?fit=pad&amp;q=66&amp;w=3060"
                                    data-testid="image"></picture>
                        </div>
                        <div class="icon-card-section-item--card">
                            <div class="icon-card-section-item--card-link-wrapper">
                                <div class="icon-card-section-item--card-header-and-text">
                                    <h3 class="nv-mh4 icon-card-section-item--heading nv-markdown nv-markdown-inline">
                                        Mésothéliome</h3>
                                </div>
                            </div>
                        </div>
                    </a></li>
                    <li
                    class="icon-card-section-item--card-list-item-wrapper icon-card-section-item--mini-card-list-item-wrapper">
                    <a class="icon-card-section-item--card-flex-wrapper icon-card-section-item--mini-card"
                        href="" target="_self"
                        aria-label="Get insights on Personalized cancer monitoring and MRD that can improve diagnosis, prognosis and patient care">
                        <div class="icon-card-section-item--image-wrapper">
                            <picture class="default-image--component-styles">
                                <source media="(min-width: 1260px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/bb9hWXohK1LooPfogbVpF/896df52a4d07d8c234ec15931b200164/icon-sample-analysis_Cobalt80px.svg?fit=pad&amp;q=66&amp;w=3780"
                                    type="image/svg+xml">
                                <source media="(min-width: 1020px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/bb9hWXohK1LooPfogbVpF/896df52a4d07d8c234ec15931b200164/icon-sample-analysis_Cobalt80px.svg?fit=pad&amp;q=66&amp;w=3060"
                                    type="image/svg+xml">
                                <source media="(min-width: 720px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/bb9hWXohK1LooPfogbVpF/896df52a4d07d8c234ec15931b200164/icon-sample-analysis_Cobalt80px.svg?fit=pad&amp;q=66&amp;w=2160"
                                    type="image/svg+xml">
                                <source media="(min-width: 375px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/bb9hWXohK1LooPfogbVpF/896df52a4d07d8c234ec15931b200164/icon-sample-analysis_Cobalt80px.svg?fit=pad&amp;q=66&amp;w=1125"
                                    type="image/svg+xml">
                                <source media="(min-width: 360px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/bb9hWXohK1LooPfogbVpF/896df52a4d07d8c234ec15931b200164/icon-sample-analysis_Cobalt80px.svg?fit=pad&amp;q=66&amp;w=1080"
                                    type="image/svg+xml">
                                <source media="(min-width: 320px)"
                                    srcset="//images.ctfassets.net/6at1y2gofdxy/bb9hWXohK1LooPfogbVpF/896df52a4d07d8c234ec15931b200164/icon-sample-analysis_Cobalt80px.svg?fit=pad&amp;q=66&amp;w=960"
                                    type="image/svg+xml"><img loading="lazy"
                                    src="//images.ctfassets.net/6at1y2gofdxy/bb9hWXohK1LooPfogbVpF/896df52a4d07d8c234ec15931b200164/icon-sample-analysis_Cobalt80px.svg?fit=pad&amp;q=66&amp;w=3060"
                                    data-testid="image"></picture>
                        </div>
                        <div class="icon-card-section-item--card">
                            <div class="icon-card-section-item--card-link-wrapper">
                                <div class="icon-card-section-item--card-header-and-text">
                                    <h3 class="nv-mh4 icon-card-section-item--heading nv-markdown nv-markdown-inline">
                                        Rein</h3>
                                </div>
                            </div>
                        </div>
                    </a></li>
            </ul>
        </div>
    </div>
   </div>
