<div class="container mobile-padding-container">
        

    <div class="container endometre-body-container">
        <div class="page-test-title text-center">
            <h3>Endomètre</h3>
        </div>
        <div class="content">
            
            <div class="cards-content">
                <div class="row g-4">
                    <div class="col-12 col-md-6 col-lg-4 card-col endometre-card first-card-home">
                        <a routerLink="/poumon" class="text-decoration-none">
                            <div class="card h-100">
                                <div class="card-img-top" >
                                    <div class="image-card">
                                        <img src="assets/image/surveiller.png" alt="">
                                    </div>
                                </div>
                                <div class="card-body">
                                    <ul class="endometre-ul">
                                        <li><p>-Adénocarcinome endometrioide.</p></li>
                                        <li><p>-Carcinome dédifférencié/indifférencié.</p></li>
                                        <li><p>-Carcinome a cellules claires.</p></li>                                                                            
                                    </ul> 
                                </div>                                                                  
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4  card-col endometre-card second-card-home">
                        <a routerLink="/poumon" class="text-decoration-none">
                            <div class="card h-100">
                                <div class="card-img-top"  >
                                    <div class="image-card">
                                        <img src="assets/image/cooperer.png" alt="">
                                    </div>
                                </div>
                                <div class="card-body">
                                   
                                    <ul class="endometre-ul">
                                        <li><p>-Stade IA adénocarcinome endométrioïde + haut grade + LVSI négatif ou focal.</p></li>
                                        <li><p>-Stade IB adénocarcinome endométrioïde + bas grade + LVSI négatif ou focal.</p></li>
                                        <li><p>-Stade IA/IB adénocarcinome endométrioïde + LVSI substantielle.</p></li>
                                        <li><p>-Stade IB adénocarcinome endométrioïde + grade élevé (FIGO 3).</p></li>
                                        <li><p>-Stade II adénocarcinome endométrioïde.</p></li>                                           
                                    </ul>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4  card-col endometre-card first-card-home">
                        <a routerLink="/poumon" class="text-decoration-none">
                            <div class="card h-100">
                                <div class="card-img-top"  >
                                    <div class="image-card">
                                        <img src="assets/image/surveiller.png" alt="">
                                    </div>
                                </div>
                                <div class="card-body">
                                    <ul class="endometre-ul">
                                        <li><p>-Carcinome utérin séreux (stades III et IV).</p></li>
                                                                                                                  
                                    </ul>                                    
                                 </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4  card-col endometre-card second-card-home">
                        <a routerLink="/poumon" class="text-decoration-none">
                            <div class="card h-100">
                                <div class="card-img-top"  >
                                    <div class="image-card" >
                                        <img src="assets/image/cooperer.png" alt="">
                                    </div>
                                </div>
                                <div class="card-body">
                                    <ul class="endometre-ul">
                                        <li><p>-Carcinomes de haut grade avec p53 anormale et ambiguïté morphologique.</p></li>                                                                       
                                    </ul>                                    
                                </div>
                            </div>
                        </a>
                    </div>
                </div>  
            </div>
        </div>
    </div>

</div>

