<div class="container mobile-padding-container line-top-poumoun" >
    <div class="nv-container">
        <div class="PanelDetail">
            <div class="Breadcrumbs_breadcrumbsWrapper">
                <div class="nv-container Breadcrumbs_breadcrumbs__uFbGd">
                    <span class="">
                       <a routerLink="/test_clinique" >
                        <button aria-disabled="false" class="nv-plain-action" type="button">Test catalog</button>
                    </a> 
                        <svg fill="none" height="10" width="7" xmlns="http://www.w3.org/2000/svg"
                            class="Breadcrumbs_iconArrow__jIsSj">
                            <path clip-rule="evenodd"
                                d="M6.16238 4.82225L1.08895 0.0691244C0.972129 -0.0230415 0.771863 -0.0230415 0.638351 0.0691244L0.0876168 0.503621C-0.0292056 0.595787 -0.0292056 0.753785 0.0876168 0.859118L4.37667 4.99342L0.104306 9.14088C-0.0125167 9.23305 -0.0125167 9.39105 0.104306 9.49638L0.65504 9.93088C0.771863 10.023 0.972129 10.023 1.10564 9.93088L6.16238 5.17775C6.27921 5.07242 6.27921 4.91442 6.16238 4.82225Z"
                                fill="#161616" fill-rule="evenodd"></path>
                        </svg>
                    </span>
                    <span class="Breadcrumbs_activeBreadcrumb__mteoH active_panel">
                        <button aria-disabled="true" class="nv-plain-action active_panel" type="button">BGEN 
                            Multi-Cancer Panel</button>
                    </span>
                </div>
            </div>
        </div>
        <div class="container body-content">
            <div class="body-left">
                <div class="GeneralInfo">
                    <div class="cardImage"><img alt="Card kit" class="GeneralInfo_cardImage__BOmgg"
                            [src]="imagekit">
                    </div>
                    <div class="panelTextContainer">
                        <h3 class="nv-mh1">Panel NGS Complet des Tumeurs Solides</h3>
                        <div class="detail">
                            <div class="wrapperChildren" data-testid="tooltip-wrapper">
                                <button type="button" class="btn btn-secondary"
                                        data-bs-toggle="tooltip" data-bs-placement="top"
                                        data-bs-custom-class="custom-tooltip"
                                        data-bs-title="EGFR, KRAS, BRAF, ALK, ROS1, RET, ERBB2 (HER2), MET, STK11, KEAP1, Tumor Mutational Burden (TMB-High)">
                                        10 genes
                                </button>
                                
                            </div>
                            <p>Type de Tumeur :<span>Adénocarcinome au stade local ou avance (stade IB jusqu’à IIIB)</span></p>
                        </div>
                    </div>
                </div>
                <!--    line        -->
                <span class="under_line"></span>
                <!--    line        -->


                <div class="description ">
                    <h4 class="title">Utilité Clinique</h4>
                    <div class="text">
                        <p>Prédiction de la
                            réponse à la thérapie
                            ciblée</p>
                    </div>
                  
                  
                </div>


                <!--    line        -->
                <span class="under_line"></span>
                <!--    line        -->


                <div class="recommandations">
                    <h4 class="title">Recommandations </h4>
                    <div class="text">
                        <p>-National Comprehensive
                            Cancer Network (NCCN)
                            guidelines, Non-Small Cell
                            lung Cancer, version
                            4.2023</p>
                    </div>

                </div>
            </div>
            <div class="body_right">
                <div class="OrderContainerWrapper_geneTileWrapper__dqwHg">
                    <div class="OrderContainerWrapper_titleWrapper__NqLxm OrderContainerWrapper_titleWrapperClosed__f2_Jr"
                        data-testid="title-wrapper" role="button" tabindex="0">
                        
                        <div class="OrderContainerWrapper_primaryPanelTitle__fgTfS">Order test</div>
                    </div>
                    <div class="OrderContainerWrapper_notScrollableWrapper__2ml1M">
                        <div class="OrderContainerWrapper_geneCustomizationWrapper__uph8t OrderContainerWrapper_geneCustomizationWrapperClosed__BYbHJ">
                            <li class="PanelCardItem_card___yPgH" data-testid="panel-cards-add-on-item">
                                <div aria-expanded="false" class="PanelCardItem_cardMain__CQV3l PanelCardItem_cardMinMain__1kqhx">
                                    <a class="OtherTestsItemWrapper_titleRoot__jTlzs" data-testid="panel-cards-item-title-link" routerLink="/command">
                                        <p class="OtherTestsItemWrapper_cardTitle__ejYFF">BGEN Hereditary Pediatric Solid Tumors Panel</p>
                                    </a>
                                    <div class="PanelCardItem_cardInnerContainer__XAXMT">
                                        <div class="wrapperChildren" data-testid="tooltip-wrapper">
                                            <button aria-label="Hereditary Pediatric Solid Tumors Panel - up to 10 genes" class="nv-plain-action PanelCardItem_cardGeneCount__sd_kN" data-testid="panel-cards-item-gene-count" type="button">up&nbsp;to<br>10&nbsp;genes</button>
                                        </div>
                                    </div>
                                </div>

                                <a routerLink="/command">
                                    <button data-analytics-action="add-to-cart" data-analytics-product-id="01104" data-analytics-clinical-area-properties="BGEN Hereditary Pediatric Solid Tumors Panel:Hereditary Cancer" aria-disabled="false" class="nv-button nv-button-medium nv-button-secondary PanelCardItem_addButton__XZw3L" data-testid="button_panel_add">Commander</button>
                                </a> 
                            </li>
                        </div>
                        <div class="PanelItemCustomization_root__EYjrG" data-testid="primary-panel">
                            <div
                                class="PanelItemCustomization_topWrapper__0UE7b PanelItemCustomization_topWrapperHeader__8AV3U">
                                <div class="PanelItemCustomization_panelTitleWrapper__kantv"><svg
                                        fill="none" height="14" width="20"
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="PanelItemCustomization_iconCheck__3tskj"
                                        data-testid="check-icon">
                                        <path
                                            d="M17.047.735a1.333 1.333 0 012.016 1.738l-.11.127-10.43 10.666a1.334 1.334 0 01-1.757.132l-.127-.109L1.07 7.864a1.333 1.333 0 011.734-2.02l.127.11 4.615 4.496L17.047.735z"
                                            fill="#128279"></path>
                                    </svg>
                                    <p class="PanelItemCustomization_panelTitle__jPtGY">Primary panel</p>
                                </div>
                                <div class="CustomizedPanelGenesCount_genesInfo__S3dEN CustomizedPanelGenesCount_openedGeneTiles__kOM0A CustomizedPanelGenesCount_primaryPanelGenesInfo__2M4HS"
                                    data-testid="panel-genes-count-expanded" id="panelGenesCountExpanded"></div>
                            </div>

                            <div class="PanelItemCustomization_divider__QlQQj"></div>
                            <div class="GeneTiles_geneTilesContainer__jJQoL"
                                data-testid="gene-tiles-container" id="geneTilesContainer">
                                <div class="GeneTiles_geneTilesWrapper__7Leg7" >
                                    <div class="GeneTiles_tooltipButton__OZfWz"
                                        data-testid="gene-tile-item-wrapper">
                                        <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5"
                                            data-testid="gene-tile-item" role="button" tabindex="0"><svg
                                                width="40" height="40" viewBox="0 0 40 40" fill="none"
                                                xmlns="http://www.w3.org/2000/svg"
                                                class="GeneTileItem_checkIcon__ejypa nv-icon" role="img"
                                                >
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M34.727 11.502a1.75 1.75 0 0 1 .021 2.475l-14.5 14.75a1.75 1.75 0 0 1-2.53-.036l-6.5-7a1.75 1.75 0 0 1 2.564-2.382l5.254 5.658 13.216-13.444a1.75 1.75 0 0 1 2.475-.021z"
                                                    fill="none"></path>
                                                <circle cx="20" cy="20" r="19.25" stroke="none"
                                                    stroke-width="1.5" fill="none"></circle>
                                                <path
                                                    d="M16.57 29.5h-.01c-.54 0-1.06-.23-1.44-.62l-6.59-6.95c-.76-.8-.73-2.07.08-2.83.8-.76 2.07-.73 2.83.08l5.16 5.44 12.7-13.05c.77-.79 2.04-.81 2.83-.04s.81 2.04.04 2.83L18.01 28.9c-.38.38-.9.6-1.44.6z"
                                                    stroke="currentcolor" stroke-width="1.5"
                                                    stroke-miterlimit="10" stroke-linecap="round"
                                                    stroke-linejoin="round"></path>
                                            </svg>
                                            <div class="GeneTileItem_geneTitle__CWCVn">EGFR</div>
                                        </div>
                                    </div>
                                    <div class="GeneTiles_tooltipButton__OZfWz"
                                        data-testid="gene-tile-item-wrapper">
                                        <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5"
                                            data-testid="gene-tile-item" role="button" tabindex="0"><svg
                                                width="40" height="40" viewBox="0 0 40 40" fill="none"
                                                xmlns="http://www.w3.org/2000/svg"
                                                class="GeneTileItem_checkIcon__ejypa nv-icon" role="img"
                                                >
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M34.727 11.502a1.75 1.75 0 0 1 .021 2.475l-14.5 14.75a1.75 1.75 0 0 1-2.53-.036l-6.5-7a1.75 1.75 0 0 1 2.564-2.382l5.254 5.658 13.216-13.444a1.75 1.75 0 0 1 2.475-.021z"
                                                    fill="none"></path>
                                                <circle cx="20" cy="20" r="19.25" stroke="none"
                                                    stroke-width="1.5" fill="none"></circle>
                                                <path
                                                    d="M16.57 29.5h-.01c-.54 0-1.06-.23-1.44-.62l-6.59-6.95c-.76-.8-.73-2.07.08-2.83.8-.76 2.07-.73 2.83.08l5.16 5.44 12.7-13.05c.77-.79 2.04-.81 2.83-.04s.81 2.04.04 2.83L18.01 28.9c-.38.38-.9.6-1.44.6z"
                                                    stroke="currentcolor" stroke-width="1.5"
                                                    stroke-miterlimit="10" stroke-linecap="round"
                                                    stroke-linejoin="round"></path>
                                            </svg>
                                            <div class="GeneTileItem_geneTitle__CWCVn">KRAS</div>
                                        </div>
                                    </div>
                                    <div class="GeneTiles_tooltipButton__OZfWz"
                                        data-testid="gene-tile-item-wrapper">
                                        <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5"
                                            data-testid="gene-tile-item" role="button" tabindex="0"><svg
                                                width="40" height="40" viewBox="0 0 40 40" fill="none"
                                                xmlns="http://www.w3.org/2000/svg"
                                                class="GeneTileItem_checkIcon__ejypa nv-icon" role="img"
                                                >
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M34.727 11.502a1.75 1.75 0 0 1 .021 2.475l-14.5 14.75a1.75 1.75 0 0 1-2.53-.036l-6.5-7a1.75 1.75 0 0 1 2.564-2.382l5.254 5.658 13.216-13.444a1.75 1.75 0 0 1 2.475-.021z"
                                                    fill="none"></path>
                                                <circle cx="20" cy="20" r="19.25" stroke="none"
                                                    stroke-width="1.5" fill="none"></circle>
                                                <path
                                                    d="M16.57 29.5h-.01c-.54 0-1.06-.23-1.44-.62l-6.59-6.95c-.76-.8-.73-2.07.08-2.83.8-.76 2.07-.73 2.83.08l5.16 5.44 12.7-13.05c.77-.79 2.04-.81 2.83-.04s.81 2.04.04 2.83L18.01 28.9c-.38.38-.9.6-1.44.6z"
                                                    stroke="currentcolor" stroke-width="1.5"
                                                    stroke-miterlimit="10" stroke-linecap="round"
                                                    stroke-linejoin="round"></path>
                                            </svg>
                                            <div class="GeneTileItem_geneTitle__CWCVn">BRAF</div>
                                        </div>
                                    </div>
                                    <div class="GeneTiles_tooltipButton__OZfWz"
                                        data-testid="gene-tile-item-wrapper">
                                        <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5"
                                            data-testid="gene-tile-item" role="button" tabindex="0"><svg
                                                width="40" height="40" viewBox="0 0 40 40" fill="none"
                                                xmlns="http://www.w3.org/2000/svg"
                                                class="GeneTileItem_checkIcon__ejypa nv-icon" role="img"
                                                >
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M34.727 11.502a1.75 1.75 0 0 1 .021 2.475l-14.5 14.75a1.75 1.75 0 0 1-2.53-.036l-6.5-7a1.75 1.75 0 0 1 2.564-2.382l5.254 5.658 13.216-13.444a1.75 1.75 0 0 1 2.475-.021z"
                                                    fill="none"></path>
                                                <circle cx="20" cy="20" r="19.25" stroke="none"
                                                    stroke-width="1.5" fill="none"></circle>
                                                <path
                                                    d="M16.57 29.5h-.01c-.54 0-1.06-.23-1.44-.62l-6.59-6.95c-.76-.8-.73-2.07.08-2.83.8-.76 2.07-.73 2.83.08l5.16 5.44 12.7-13.05c.77-.79 2.04-.81 2.83-.04s.81 2.04.04 2.83L18.01 28.9c-.38.38-.9.6-1.44.6z"
                                                    stroke="currentcolor" stroke-width="1.5"
                                                    stroke-miterlimit="10" stroke-linecap="round"
                                                    stroke-linejoin="round"></path>
                                            </svg>
                                            <div class="GeneTileItem_geneTitle__CWCVn">ALK</div>
                                        </div>
                                    </div>
                                    <div class="GeneTiles_tooltipButton__OZfWz"
                                        data-testid="gene-tile-item-wrapper">
                                        <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5"
                                            data-testid="gene-tile-item" role="button" tabindex="0"><svg
                                                width="40" height="40" viewBox="0 0 40 40" fill="none"
                                                xmlns="http://www.w3.org/2000/svg"
                                                class="GeneTileItem_checkIcon__ejypa nv-icon" role="img"
                                                >
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M34.727 11.502a1.75 1.75 0 0 1 .021 2.475l-14.5 14.75a1.75 1.75 0 0 1-2.53-.036l-6.5-7a1.75 1.75 0 0 1 2.564-2.382l5.254 5.658 13.216-13.444a1.75 1.75 0 0 1 2.475-.021z"
                                                    fill="none"></path>
                                                <circle cx="20" cy="20" r="19.25" stroke="none"
                                                    stroke-width="1.5" fill="none"></circle>
                                                <path
                                                    d="M16.57 29.5h-.01c-.54 0-1.06-.23-1.44-.62l-6.59-6.95c-.76-.8-.73-2.07.08-2.83.8-.76 2.07-.73 2.83.08l5.16 5.44 12.7-13.05c.77-.79 2.04-.81 2.83-.04s.81 2.04.04 2.83L18.01 28.9c-.38.38-.9.6-1.44.6z"
                                                    stroke="currentcolor" stroke-width="1.5"
                                                    stroke-miterlimit="10" stroke-linecap="round"
                                                    stroke-linejoin="round"></path>
                                            </svg>
                                            <div class="GeneTileItem_geneTitle__CWCVn">ROS1</div>
                                        </div>
                                    </div>
                                    <div class="GeneTiles_tooltipButton__OZfWz"
                                        data-testid="gene-tile-item-wrapper">
                                        <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5"
                                            data-testid="gene-tile-item" role="button" tabindex="0"><svg
                                                width="40" height="40" viewBox="0 0 40 40" fill="none"
                                                xmlns="http://www.w3.org/2000/svg"
                                                class="GeneTileItem_checkIcon__ejypa nv-icon" role="img"
                                                >
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M34.727 11.502a1.75 1.75 0 0 1 .021 2.475l-14.5 14.75a1.75 1.75 0 0 1-2.53-.036l-6.5-7a1.75 1.75 0 0 1 2.564-2.382l5.254 5.658 13.216-13.444a1.75 1.75 0 0 1 2.475-.021z"
                                                    fill="none"></path>
                                                <circle cx="20" cy="20" r="19.25" stroke="none"
                                                    stroke-width="1.5" fill="none"></circle>
                                                <path
                                                    d="M16.57 29.5h-.01c-.54 0-1.06-.23-1.44-.62l-6.59-6.95c-.76-.8-.73-2.07.08-2.83.8-.76 2.07-.73 2.83.08l5.16 5.44 12.7-13.05c.77-.79 2.04-.81 2.83-.04s.81 2.04.04 2.83L18.01 28.9c-.38.38-.9.6-1.44.6z"
                                                    stroke="currentcolor" stroke-width="1.5"
                                                    stroke-miterlimit="10" stroke-linecap="round"
                                                    stroke-linejoin="round"></path>
                                            </svg>
                                            <div class="GeneTileItem_geneTitle__CWCVn">RET</div>
                                        </div>
                                    </div>
                                    <div class="GeneTiles_tooltipButton__OZfWz"
                                        data-testid="gene-tile-item-wrapper">
                                        <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5"
                                            data-testid="gene-tile-item" role="button" tabindex="0"><svg
                                                width="40" height="40" viewBox="0 0 40 40" fill="none"
                                                xmlns="http://www.w3.org/2000/svg"
                                                class="GeneTileItem_checkIcon__ejypa nv-icon" role="img"
                                                >
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M34.727 11.502a1.75 1.75 0 0 1 .021 2.475l-14.5 14.75a1.75 1.75 0 0 1-2.53-.036l-6.5-7a1.75 1.75 0 0 1 2.564-2.382l5.254 5.658 13.216-13.444a1.75 1.75 0 0 1 2.475-.021z"
                                                    fill="none"></path>
                                                <circle cx="20" cy="20" r="19.25" stroke="none"
                                                    stroke-width="1.5" fill="none"></circle>
                                                <path
                                                    d="M16.57 29.5h-.01c-.54 0-1.06-.23-1.44-.62l-6.59-6.95c-.76-.8-.73-2.07.08-2.83.8-.76 2.07-.73 2.83.08l5.16 5.44 12.7-13.05c.77-.79 2.04-.81 2.83-.04s.81 2.04.04 2.83L18.01 28.9c-.38.38-.9.6-1.44.6z"
                                                    stroke="currentcolor" stroke-width="1.5"
                                                    stroke-miterlimit="10" stroke-linecap="round"
                                                    stroke-linejoin="round"></path>
                                            </svg>
                                            <div class="GeneTileItem_geneTitle__CWCVn">ERBB2</div>
                                        </div>
                                    </div>
                                    <div class="GeneTiles_tooltipButton__OZfWz"
                                        data-testid="gene-tile-item-wrapper">
                                        <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5"
                                            data-testid="gene-tile-item" role="button" tabindex="0"><svg
                                                width="40" height="40" viewBox="0 0 40 40" fill="none"
                                                xmlns="http://www.w3.org/2000/svg"
                                                class="GeneTileItem_checkIcon__ejypa nv-icon" role="img"
                                                >
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M34.727 11.502a1.75 1.75 0 0 1 .021 2.475l-14.5 14.75a1.75 1.75 0 0 1-2.53-.036l-6.5-7a1.75 1.75 0 0 1 2.564-2.382l5.254 5.658 13.216-13.444a1.75 1.75 0 0 1 2.475-.021z"
                                                    fill="none"></path>
                                                <circle cx="20" cy="20" r="19.25" stroke="none"
                                                    stroke-width="1.5" fill="none"></circle>
                                                <path
                                                    d="M16.57 29.5h-.01c-.54 0-1.06-.23-1.44-.62l-6.59-6.95c-.76-.8-.73-2.07.08-2.83.8-.76 2.07-.73 2.83.08l5.16 5.44 12.7-13.05c.77-.79 2.04-.81 2.83-.04s.81 2.04.04 2.83L18.01 28.9c-.38.38-.9.6-1.44.6z"
                                                    stroke="currentcolor" stroke-width="1.5"
                                                    stroke-miterlimit="10" stroke-linecap="round"
                                                    stroke-linejoin="round"></path>
                                            </svg>
                                            <div class="GeneTileItem_geneTitle__CWCVn">MET</div>
                                        </div>
                                    </div>
                                    <div class="GeneTiles_tooltipButton__OZfWz"
                                        data-testid="gene-tile-item-wrapper">
                                        <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5"
                                            data-testid="gene-tile-item" role="button" tabindex="0"><svg
                                                width="40" height="40" viewBox="0 0 40 40" fill="none"
                                                xmlns="http://www.w3.org/2000/svg"
                                                class="GeneTileItem_checkIcon__ejypa nv-icon" role="img"
                                                >
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M34.727 11.502a1.75 1.75 0 0 1 .021 2.475l-14.5 14.75a1.75 1.75 0 0 1-2.53-.036l-6.5-7a1.75 1.75 0 0 1 2.564-2.382l5.254 5.658 13.216-13.444a1.75 1.75 0 0 1 2.475-.021z"
                                                    fill="none"></path>
                                                <circle cx="20" cy="20" r="19.25" stroke="none"
                                                    stroke-width="1.5" fill="none"></circle>
                                                <path
                                                    d="M16.57 29.5h-.01c-.54 0-1.06-.23-1.44-.62l-6.59-6.95c-.76-.8-.73-2.07.08-2.83.8-.76 2.07-.73 2.83.08l5.16 5.44 12.7-13.05c.77-.79 2.04-.81 2.83-.04s.81 2.04.04 2.83L18.01 28.9c-.38.38-.9.6-1.44.6z"
                                                    stroke="currentcolor" stroke-width="1.5"
                                                    stroke-miterlimit="10" stroke-linecap="round"
                                                    stroke-linejoin="round"></path>
                                            </svg>
                                            <div class="GeneTileItem_geneTitle__CWCVn">STK11</div>
                                        </div>
                                    </div>
                                    <div class="GeneTiles_tooltipButton__OZfWz"
                                        data-testid="gene-tile-item-wrapper">
                                        <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5"
                                            data-testid="gene-tile-item" role="button" tabindex="0"><svg
                                                width="40" height="40" viewBox="0 0 40 40" fill="none"
                                                xmlns="http://www.w3.org/2000/svg"
                                                class="GeneTileItem_checkIcon__ejypa nv-icon" role="img"
                                                >
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                    d="M34.727 11.502a1.75 1.75 0 0 1 .021 2.475l-14.5 14.75a1.75 1.75 0 0 1-2.53-.036l-6.5-7a1.75 1.75 0 0 1 2.564-2.382l5.254 5.658 13.216-13.444a1.75 1.75 0 0 1 2.475-.021z"
                                                    fill="none"></path>
                                                <circle cx="20" cy="20" r="19.25" stroke="none"
                                                    stroke-width="1.5" fill="none"></circle>
                                                <path
                                                    d="M16.57 29.5h-.01c-.54 0-1.06-.23-1.44-.62l-6.59-6.95c-.76-.8-.73-2.07.08-2.83.8-.76 2.07-.73 2.83.08l5.16 5.44 12.7-13.05c.77-.79 2.04-.81 2.83-.04s.81 2.04.04 2.83L18.01 28.9c-.38.38-.9.6-1.44.6z"
                                                    stroke="currentcolor" stroke-width="1.5"
                                                    stroke-miterlimit="10" stroke-linecap="round"
                                                    stroke-linejoin="round"></path>
                                            </svg>
                                            <div class="GeneTileItem_geneTitle__CWCVn">KEAP1</div>
                                        </div>
                                    </div>
                                    
                                                                         
                                </div>
                               
                            </div>
                        </div>
                    </div>                      
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Button trigger modal -->
 <div class="commande-mobile" id="toggleButton-div">
    <button type="button" class="btn btn-primary" id="toggleButton" data-bs-toggle="modal" data-bs-target="#exampleModal">
        Commander
    </button>
 </div>
    
    
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-commander">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close btn-close-poumon" data-bs-dismiss="modal" aria-label="Close"></button>

                <div class="OrderContainerWrapper_titleWrapper__NqLxm OrderContainerWrapper_titleWrapperClosed__f2_Jr"
                data-testid="title-wrapper" role="button" tabindex="0">
                
                <div class="OrderContainerWrapper_primaryPanelTitle__fgTfS">Order test</div>
            </div>
           
        </div>
            <div class="modal-body modal-command-body">
               
            <div class="OrderContainerWrapper_geneCustomizationWrapper__uph8t OrderContainerWrapper_geneCustomizationWrapperClosed__BYbHJ">
                <li class="PanelCardItem_card___yPgH" data-testid="panel-cards-add-on-item">
                    <div aria-expanded="false" class="PanelCardItem_cardMain__CQV3l PanelCardItem_cardMinMain__1kqhx">
                        <a class="OtherTestsItemWrapper_titleRoot__jTlzs" data-testid="panel-cards-item-title-link" routerLink="/command">
                            <p class="OtherTestsItemWrapper_cardTitle__ejYFF">BGEN Hereditary Pediatric Solid Tumors Panel</p>
                        </a>
                        <div class="PanelCardItem_cardInnerContainer__XAXMT">
                            <div class="wrapperChildren" data-testid="tooltip-wrapper">
                                <button aria-label="Hereditary Pediatric Solid Tumors Panel - up to 10 genes" class="nv-plain-action PanelCardItem_cardGeneCount__sd_kN" data-testid="panel-cards-item-gene-count" type="button">up&nbsp;to<br>10&nbsp;genes</button>
                            </div>
                        </div>
                    </div>

                    <a routerLink="/command" class=btn-commande-modal>
                        <button data-analytics-action="add-to-cart" data-analytics-product-id="01104" data-analytics-clinical-area-properties="BGEN Hereditary Pediatric Solid Tumors Panel:Hereditary Cancer" aria-disabled="false" class="nv-button nv-button-medium nv-button-secondary PanelCardItem_addButton__XZw3L" data-testid="button_panel_add">Commander</button>
                    </a> 
                </li>
            </div>

            <div class="OrderContainerWrapper_notScrollableWrapper__2ml1M">
               
                <div class="PanelItemCustomization_root__EYjrG" data-testid="primary-panel">
                    <div
                        class="PanelItemCustomization_topWrapper__0UE7b PanelItemCustomization_topWrapperHeader__8AV3U">
                        <div class="PanelItemCustomization_panelTitleWrapper__kantv"><svg
                                fill="none" height="14" width="20"
                                xmlns="http://www.w3.org/2000/svg"
                                class="PanelItemCustomization_iconCheck__3tskj"
                                data-testid="check-icon">
                                <path
                                    d="M17.047.735a1.333 1.333 0 012.016 1.738l-.11.127-10.43 10.666a1.334 1.334 0 01-1.757.132l-.127-.109L1.07 7.864a1.333 1.333 0 011.734-2.02l.127.11 4.615 4.496L17.047.735z"
                                    fill="#128279"></path>
                            </svg>
                            <p class="PanelItemCustomization_panelTitle__jPtGY">Primary panel</p>
                        </div>
                        <div class="CustomizedPanelGenesCount_genesInfo__S3dEN CustomizedPanelGenesCount_openedGeneTiles__kOM0A CustomizedPanelGenesCount_primaryPanelGenesInfo__2M4HS"
                            data-testid="panel-genes-count-expanded" id="panelGenesCountExpanded"></div>
                    </div>

                    <div class="PanelItemCustomization_divider__QlQQj"></div>
                    <div class="GeneTiles_geneTilesContainer__jJQoL"
                        data-testid="gene-tiles-container" id="geneTilesContainer">
                        <div class="GeneTiles_geneTilesWrapper__7Leg7" >
                            <div class="GeneTiles_tooltipButton__OZfWz"
                                data-testid="gene-tile-item-wrapper">
                                <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5"
                                    data-testid="gene-tile-item" role="button" tabindex="0"><svg
                                        width="40" height="40" viewBox="0 0 40 40" fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="GeneTileItem_checkIcon__ejypa nv-icon" role="img"
                                        >
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M34.727 11.502a1.75 1.75 0 0 1 .021 2.475l-14.5 14.75a1.75 1.75 0 0 1-2.53-.036l-6.5-7a1.75 1.75 0 0 1 2.564-2.382l5.254 5.658 13.216-13.444a1.75 1.75 0 0 1 2.475-.021z"
                                            fill="none"></path>
                                        <circle cx="20" cy="20" r="19.25" stroke="none"
                                            stroke-width="1.5" fill="none"></circle>
                                        <path
                                            d="M16.57 29.5h-.01c-.54 0-1.06-.23-1.44-.62l-6.59-6.95c-.76-.8-.73-2.07.08-2.83.8-.76 2.07-.73 2.83.08l5.16 5.44 12.7-13.05c.77-.79 2.04-.81 2.83-.04s.81 2.04.04 2.83L18.01 28.9c-.38.38-.9.6-1.44.6z"
                                            stroke="currentcolor" stroke-width="1.5"
                                            stroke-miterlimit="10" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </svg>
                                    <div class="GeneTileItem_geneTitle__CWCVn">EGFR</div>
                                </div>
                            </div>
                            <div class="GeneTiles_tooltipButton__OZfWz"
                                data-testid="gene-tile-item-wrapper">
                                <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5"
                                    data-testid="gene-tile-item" role="button" tabindex="0"><svg
                                        width="40" height="40" viewBox="0 0 40 40" fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="GeneTileItem_checkIcon__ejypa nv-icon" role="img"
                                        >
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M34.727 11.502a1.75 1.75 0 0 1 .021 2.475l-14.5 14.75a1.75 1.75 0 0 1-2.53-.036l-6.5-7a1.75 1.75 0 0 1 2.564-2.382l5.254 5.658 13.216-13.444a1.75 1.75 0 0 1 2.475-.021z"
                                            fill="none"></path>
                                        <circle cx="20" cy="20" r="19.25" stroke="none"
                                            stroke-width="1.5" fill="none"></circle>
                                        <path
                                            d="M16.57 29.5h-.01c-.54 0-1.06-.23-1.44-.62l-6.59-6.95c-.76-.8-.73-2.07.08-2.83.8-.76 2.07-.73 2.83.08l5.16 5.44 12.7-13.05c.77-.79 2.04-.81 2.83-.04s.81 2.04.04 2.83L18.01 28.9c-.38.38-.9.6-1.44.6z"
                                            stroke="currentcolor" stroke-width="1.5"
                                            stroke-miterlimit="10" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </svg>
                                    <div class="GeneTileItem_geneTitle__CWCVn">KRAS</div>
                                </div>
                            </div>
                            <div class="GeneTiles_tooltipButton__OZfWz"
                                data-testid="gene-tile-item-wrapper">
                                <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5"
                                    data-testid="gene-tile-item" role="button" tabindex="0"><svg
                                        width="40" height="40" viewBox="0 0 40 40" fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="GeneTileItem_checkIcon__ejypa nv-icon" role="img"
                                        >
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M34.727 11.502a1.75 1.75 0 0 1 .021 2.475l-14.5 14.75a1.75 1.75 0 0 1-2.53-.036l-6.5-7a1.75 1.75 0 0 1 2.564-2.382l5.254 5.658 13.216-13.444a1.75 1.75 0 0 1 2.475-.021z"
                                            fill="none"></path>
                                        <circle cx="20" cy="20" r="19.25" stroke="none"
                                            stroke-width="1.5" fill="none"></circle>
                                        <path
                                            d="M16.57 29.5h-.01c-.54 0-1.06-.23-1.44-.62l-6.59-6.95c-.76-.8-.73-2.07.08-2.83.8-.76 2.07-.73 2.83.08l5.16 5.44 12.7-13.05c.77-.79 2.04-.81 2.83-.04s.81 2.04.04 2.83L18.01 28.9c-.38.38-.9.6-1.44.6z"
                                            stroke="currentcolor" stroke-width="1.5"
                                            stroke-miterlimit="10" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </svg>
                                    <div class="GeneTileItem_geneTitle__CWCVn">BRAF</div>
                                </div>
                            </div>
                            <div class="GeneTiles_tooltipButton__OZfWz"
                                data-testid="gene-tile-item-wrapper">
                                <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5"
                                    data-testid="gene-tile-item" role="button" tabindex="0"><svg
                                        width="40" height="40" viewBox="0 0 40 40" fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="GeneTileItem_checkIcon__ejypa nv-icon" role="img"
                                        >
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M34.727 11.502a1.75 1.75 0 0 1 .021 2.475l-14.5 14.75a1.75 1.75 0 0 1-2.53-.036l-6.5-7a1.75 1.75 0 0 1 2.564-2.382l5.254 5.658 13.216-13.444a1.75 1.75 0 0 1 2.475-.021z"
                                            fill="none"></path>
                                        <circle cx="20" cy="20" r="19.25" stroke="none"
                                            stroke-width="1.5" fill="none"></circle>
                                        <path
                                            d="M16.57 29.5h-.01c-.54 0-1.06-.23-1.44-.62l-6.59-6.95c-.76-.8-.73-2.07.08-2.83.8-.76 2.07-.73 2.83.08l5.16 5.44 12.7-13.05c.77-.79 2.04-.81 2.83-.04s.81 2.04.04 2.83L18.01 28.9c-.38.38-.9.6-1.44.6z"
                                            stroke="currentcolor" stroke-width="1.5"
                                            stroke-miterlimit="10" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </svg>
                                    <div class="GeneTileItem_geneTitle__CWCVn">ALK</div>
                                </div>
                            </div>
                            <div class="GeneTiles_tooltipButton__OZfWz"
                                data-testid="gene-tile-item-wrapper">
                                <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5"
                                    data-testid="gene-tile-item" role="button" tabindex="0"><svg
                                        width="40" height="40" viewBox="0 0 40 40" fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="GeneTileItem_checkIcon__ejypa nv-icon" role="img"
                                        >
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M34.727 11.502a1.75 1.75 0 0 1 .021 2.475l-14.5 14.75a1.75 1.75 0 0 1-2.53-.036l-6.5-7a1.75 1.75 0 0 1 2.564-2.382l5.254 5.658 13.216-13.444a1.75 1.75 0 0 1 2.475-.021z"
                                            fill="none"></path>
                                        <circle cx="20" cy="20" r="19.25" stroke="none"
                                            stroke-width="1.5" fill="none"></circle>
                                        <path
                                            d="M16.57 29.5h-.01c-.54 0-1.06-.23-1.44-.62l-6.59-6.95c-.76-.8-.73-2.07.08-2.83.8-.76 2.07-.73 2.83.08l5.16 5.44 12.7-13.05c.77-.79 2.04-.81 2.83-.04s.81 2.04.04 2.83L18.01 28.9c-.38.38-.9.6-1.44.6z"
                                            stroke="currentcolor" stroke-width="1.5"
                                            stroke-miterlimit="10" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </svg>
                                    <div class="GeneTileItem_geneTitle__CWCVn">ROS1</div>
                                </div>
                            </div>
                            <div class="GeneTiles_tooltipButton__OZfWz"
                                data-testid="gene-tile-item-wrapper">
                                <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5"
                                    data-testid="gene-tile-item" role="button" tabindex="0"><svg
                                        width="40" height="40" viewBox="0 0 40 40" fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="GeneTileItem_checkIcon__ejypa nv-icon" role="img"
                                        >
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M34.727 11.502a1.75 1.75 0 0 1 .021 2.475l-14.5 14.75a1.75 1.75 0 0 1-2.53-.036l-6.5-7a1.75 1.75 0 0 1 2.564-2.382l5.254 5.658 13.216-13.444a1.75 1.75 0 0 1 2.475-.021z"
                                            fill="none"></path>
                                        <circle cx="20" cy="20" r="19.25" stroke="none"
                                            stroke-width="1.5" fill="none"></circle>
                                        <path
                                            d="M16.57 29.5h-.01c-.54 0-1.06-.23-1.44-.62l-6.59-6.95c-.76-.8-.73-2.07.08-2.83.8-.76 2.07-.73 2.83.08l5.16 5.44 12.7-13.05c.77-.79 2.04-.81 2.83-.04s.81 2.04.04 2.83L18.01 28.9c-.38.38-.9.6-1.44.6z"
                                            stroke="currentcolor" stroke-width="1.5"
                                            stroke-miterlimit="10" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </svg>
                                    <div class="GeneTileItem_geneTitle__CWCVn">RET</div>
                                </div>
                            </div>
                            <div class="GeneTiles_tooltipButton__OZfWz"
                                data-testid="gene-tile-item-wrapper">
                                <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5"
                                    data-testid="gene-tile-item" role="button" tabindex="0"><svg
                                        width="40" height="40" viewBox="0 0 40 40" fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="GeneTileItem_checkIcon__ejypa nv-icon" role="img"
                                        >
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M34.727 11.502a1.75 1.75 0 0 1 .021 2.475l-14.5 14.75a1.75 1.75 0 0 1-2.53-.036l-6.5-7a1.75 1.75 0 0 1 2.564-2.382l5.254 5.658 13.216-13.444a1.75 1.75 0 0 1 2.475-.021z"
                                            fill="none"></path>
                                        <circle cx="20" cy="20" r="19.25" stroke="none"
                                            stroke-width="1.5" fill="none"></circle>
                                        <path
                                            d="M16.57 29.5h-.01c-.54 0-1.06-.23-1.44-.62l-6.59-6.95c-.76-.8-.73-2.07.08-2.83.8-.76 2.07-.73 2.83.08l5.16 5.44 12.7-13.05c.77-.79 2.04-.81 2.83-.04s.81 2.04.04 2.83L18.01 28.9c-.38.38-.9.6-1.44.6z"
                                            stroke="currentcolor" stroke-width="1.5"
                                            stroke-miterlimit="10" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </svg>
                                    <div class="GeneTileItem_geneTitle__CWCVn">ERBB2</div>
                                </div>
                            </div>
                            <div class="GeneTiles_tooltipButton__OZfWz"
                                data-testid="gene-tile-item-wrapper">
                                <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5"
                                    data-testid="gene-tile-item" role="button" tabindex="0"><svg
                                        width="40" height="40" viewBox="0 0 40 40" fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="GeneTileItem_checkIcon__ejypa nv-icon" role="img"
                                        >
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M34.727 11.502a1.75 1.75 0 0 1 .021 2.475l-14.5 14.75a1.75 1.75 0 0 1-2.53-.036l-6.5-7a1.75 1.75 0 0 1 2.564-2.382l5.254 5.658 13.216-13.444a1.75 1.75 0 0 1 2.475-.021z"
                                            fill="none"></path>
                                        <circle cx="20" cy="20" r="19.25" stroke="none"
                                            stroke-width="1.5" fill="none"></circle>
                                        <path
                                            d="M16.57 29.5h-.01c-.54 0-1.06-.23-1.44-.62l-6.59-6.95c-.76-.8-.73-2.07.08-2.83.8-.76 2.07-.73 2.83.08l5.16 5.44 12.7-13.05c.77-.79 2.04-.81 2.83-.04s.81 2.04.04 2.83L18.01 28.9c-.38.38-.9.6-1.44.6z"
                                            stroke="currentcolor" stroke-width="1.5"
                                            stroke-miterlimit="10" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </svg>
                                    <div class="GeneTileItem_geneTitle__CWCVn">MET</div>
                                </div>
                            </div>
                            <div class="GeneTiles_tooltipButton__OZfWz" data-testid="gene-tile-item-wrapper">
                                <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5" data-testid="gene-tile-item" role="button" tabindex="0"><svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="GeneTileItem_checkIcon__ejypa nv-icon" role="img" >
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M34.727 11.502a1.75 1.75 0 0 1 .021 2.475l-14.5 14.75a1.75 1.75 0 0 1-2.53-.036l-6.5-7a1.75 1.75 0 0 1 2.564-2.382l5.254 5.658 13.216-13.444a1.75 1.75 0 0 1 2.475-.021z" fill="none"></path>
                                        <circle cx="20" cy="20" r="19.25" stroke="none" stroke-width="1.5" fill="none"></circle>
                                        <path d="M16.57 29.5h-.01c-.54 0-1.06-.23-1.44-.62l-6.59-6.95c-.76-.8-.73-2.07.08-2.83.8-.76 2.07-.73 2.83.08l5.16 5.44 12.7-13.05c.77-.79 2.04-.81 2.83-.04s.81 2.04.04 2.83L18.01 28.9c-.38.38-.9.6-1.44.6z" stroke="currentcolor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                    <div class="GeneTileItem_geneTitle__CWCVn">EGFR</div>
                                </div>
                            </div>
                            <div class="GeneTiles_tooltipButton__OZfWz" data-testid="gene-tile-item-wrapper">
                                <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5" data-testid="gene-tile-item" role="button" tabindex="0"><svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" class="GeneTileItem_checkIcon__ejypa nv-icon" role="img" >
                                        <path fill-rule="evenodd" clip-rule="evenodd" d="M34.727 11.502a1.75 1.75 0 0 1 .021 2.475l-14.5 14.75a1.75 1.75 0 0 1-2.53-.036l-6.5-7a1.75 1.75 0 0 1 2.564-2.382l5.254 5.658 13.216-13.444a1.75 1.75 0 0 1 2.475-.021z" fill="none"></path>
                                        <circle cx="20" cy="20" r="19.25" stroke="none" stroke-width="1.5" fill="none"></circle>
                                        <path d="M16.57 29.5h-.01c-.54 0-1.06-.23-1.44-.62l-6.59-6.95c-.76-.8-.73-2.07.08-2.83.8-.76 2.07-.73 2.83.08l5.16 5.44 12.7-13.05c.77-.79 2.04-.81 2.83-.04s.81 2.04.04 2.83L18.01 28.9c-.38.38-.9.6-1.44.6z" stroke="currentcolor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                    <div class="GeneTileItem_geneTitle__CWCVn">KRAS</div>
                                </div>
                            </div>
                            <div class="GeneTiles_tooltipButton__OZfWz"
                                data-testid="gene-tile-item-wrapper">
                                <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5"
                                    data-testid="gene-tile-item" role="button" tabindex="0"><svg
                                        width="40" height="40" viewBox="0 0 40 40" fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="GeneTileItem_checkIcon__ejypa nv-icon" role="img"
                                        >
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M34.727 11.502a1.75 1.75 0 0 1 .021 2.475l-14.5 14.75a1.75 1.75 0 0 1-2.53-.036l-6.5-7a1.75 1.75 0 0 1 2.564-2.382l5.254 5.658 13.216-13.444a1.75 1.75 0 0 1 2.475-.021z"
                                            fill="none"></path>
                                        <circle cx="20" cy="20" r="19.25" stroke="none"
                                            stroke-width="1.5" fill="none"></circle>
                                        <path
                                            d="M16.57 29.5h-.01c-.54 0-1.06-.23-1.44-.62l-6.59-6.95c-.76-.8-.73-2.07.08-2.83.8-.76 2.07-.73 2.83.08l5.16 5.44 12.7-13.05c.77-.79 2.04-.81 2.83-.04s.81 2.04.04 2.83L18.01 28.9c-.38.38-.9.6-1.44.6z"
                                            stroke="currentcolor" stroke-width="1.5"
                                            stroke-miterlimit="10" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </svg>
                                    <div class="GeneTileItem_geneTitle__CWCVn">STK11</div>
                                </div>
                            </div>
                            <div class="GeneTiles_tooltipButton__OZfWz"
                                data-testid="gene-tile-item-wrapper">
                                <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5"
                                    data-testid="gene-tile-item" role="button" tabindex="0"><svg
                                        width="40" height="40" viewBox="0 0 40 40" fill="none"
                                        xmlns="http://www.w3.org/2000/svg"
                                        class="GeneTileItem_checkIcon__ejypa nv-icon" role="img"
                                        >
                                        <path fill-rule="evenodd" clip-rule="evenodd"
                                            d="M34.727 11.502a1.75 1.75 0 0 1 .021 2.475l-14.5 14.75a1.75 1.75 0 0 1-2.53-.036l-6.5-7a1.75 1.75 0 0 1 2.564-2.382l5.254 5.658 13.216-13.444a1.75 1.75 0 0 1 2.475-.021z"
                                            fill="none"></path>
                                        <circle cx="20" cy="20" r="19.25" stroke="none"
                                            stroke-width="1.5" fill="none"></circle>
                                        <path
                                            d="M16.57 29.5h-.01c-.54 0-1.06-.23-1.44-.62l-6.59-6.95c-.76-.8-.73-2.07.08-2.83.8-.76 2.07-.73 2.83.08l5.16 5.44 12.7-13.05c.77-.79 2.04-.81 2.83-.04s.81 2.04.04 2.83L18.01 28.9c-.38.38-.9.6-1.44.6z"
                                            stroke="currentcolor" stroke-width="1.5"
                                            stroke-miterlimit="10" stroke-linecap="round"
                                            stroke-linejoin="round"></path>
                                    </svg>
                                    <div class="GeneTileItem_geneTitle__CWCVn">KEAP1</div>
                                </div>
                                
                            </div>
                                                                 
                        </div>
                       
                    </div>
                </div>
            </div> 
            </div>
            <div class="modal-footer">
           
            </div>
        </div>
        </div>
    </div>