@media  (min-width: 100px) and (max-width: 400px){
    
    .profil-btn-mobile{
        display: block !important;
        position: relative;
        left: 75px;
        bottom: 10px;
    
    }
    .profile-drop-desktop{
        display: none;
    }
    .body-content {
        & .GeneralInfo {
            & .cardImage {
                img {
                    text-align: center;
                height: 110px;
                width: auto;
                }
            }
        }
    }
    .profile-drop {
        width: 170px;
        position: absolute;
        top: 64px !important;
        right: -75px !important;
        box-shadow: 0 3px 10px 4px rgba(40, 41, 44, 0.12);
    }
    #account-nav{
        position: relative;
        top: -80px !important;
        left: 0px;
        width: 180Px;
        max-width: 125px;

    }
    .mobile-setting-button{
        width: 180px;
        padding: 7px 46px;
        height: 40px;
    }
    .hereditaries-content {
        .PanelCardItem_addButton__XZw3L {
            margin-top: 90px;
            align-self: flex-end;
        }
    }
    .mobile-padding-container{
        border-top: 1px solid #c9cbd5;
        padding: 0 10px 45px 10px !important;
    }
    .icon-card-section--home-test-catalog-cards {
        padding-block: 50px;
        padding-inline: 20px !important;
        text-align: center;
    }
    
    .body-container {

        position: relative;
        top: 30px;
        padding: 20px !important;
    }

    .account-nav {
        & .image-profil {
            img {
                width: 85%;
            }
        }
    }
    .profil {
        & .name {
            p {
                left: 15px !important;
                font-size: 16px !important;
            }
        }
    }
    header{
        .header-navbar {
            display: none;
        }
    }
    .header-drop-nav {
        & .btn-group {
            button {
                position: relative;
                right: 10px !important;
            }
        }
    }
    .nv_form_container {
        inline-size: auto;
        margin-inline: auto;
    }
    .test_right {
        display: flex
    ;
        justify-content: center;
        margin: 30px 0px 15px;
        padding: 0;
    }
    .mobile-fieldset {
        padding: 0px 15px 0 15px;
    }
    .nv-formik-checkbox-group--checkbox-group {
        display: block;

    }
    .icon-card-section--icon-card-section-root .icon-card-section--icon-card-grid-wrapper {
        display: flex
    ;
        padding-inline-start: 0px;
        padding-inline-end: 30px;
        inline-size: 100%;
    }
    .title-card {
        text-align: center;
        position: relative;
        right: 5px;
        font-size: 20px;
    }
    .nv_form_container {
        inline-size: 100% !important;
        margin-inline: auto;
    }
    .icon-card-section--icon-card-section-root,
     .icon-card-section--icon-card-grid {
        padding: 0px ;
    }
    .title-card {
        right: 0px;
        font-size: 20px;
    }
    .body-header-login{
        .yellow-color {
            block-size: 196px;
            inline-size: 300px;
        }
        .yellow-color:after {
            content: " ";
            position: absolute;
            border-radius: 0 100% 0 0;
            background: #f7e0a6;
            inline-size: 55%;
            block-size: 35%;
        }
        .text-image {
             .image {
                img {
                    width: 67% !important;
                }
            }
             .text {
                p {
                    
                    font-size: 25px !important;
                    
                }
            }
        }
    }
    .container-login{
        padding: 0px !important;
    }
    .body-content-login {
        padding: 15px !important;
        .nv-button, a.nv-button:link, a.nv-button:visited {
            color: #fff;
            text-decoration: none;
            width: 100%;
        }
    }
    footer {
        position: relative;
        left: 14px;
        & .logo-footer-image {
            img {
                width: 110%;
                height: 100%;
                object-fit: contain;
            }
        }
    }
}



@media (max-width: 576px) {
    .mobile-fieldset {
        padding: 0px 15px 0 15px;
    }
    .profil-btn-mobile{
        display: block !important;
        position: relative;
        left: 75px;
        bottom: 10px;
    
    }
    .profile-drop-desktop{
        display: none;
    }
    .body-content {
        & .GeneralInfo {
            & .cardImage {
                img {
                    text-align: center;
                height: 110px;
                width: auto;
                }
            }
        }
    }
    
    #profile-drop {
        width: 170px;
        position: absolute;
        top: 64px !important;
        right: -75px !important;
        box-shadow: 0 3px 10px 4px rgba(40, 41, 44, 0.12);
        .first-li-profil{
            display: none;
        }
    }

    .account-nav{
        margin-left: auto;
    }
    .mobile-setting-button{
        width: 180px !important;
        padding: 7px 46px !important;
        height: 40px !important;
    }
    .hereditaries-content {
        .PanelCardItem_addButton__XZw3L {
            margin-top: 130px;
            align-self: flex-end;
        }
    }
    .mobile-padding-container{
        border-top: 1px solid #c9cbd5;
        padding: 0 10px 45px 10px !important;
    }
    .icon-card-section--home-test-catalog-cards {
        padding-block: 50px;
        padding-inline: 20px;
        text-align: center;
    }
    
    .body-container {

        position: relative;
        top: 30px;
        padding: 20px 11px 0 15px !important    }
    header{
        .container-md-header{
            margin-left: 0px;
        }
        .imageheader {
            display: block;
            width: 215px;
            /* margin-top: 10px; */
            position: relative;
            top: 15px;
            .second-logo {
                display: flex;
                position: relative;
                right: -5px;
                width: 150px;
                height: 55px;
                top: 24px;
            }
        }
    }
    .body-content {
        .GeneralInfo {
            display: block;
            .cardImage {
                text-align: center;
                height: 110px;
                width: auto;

            }
        }
    }
    .body-content {
        padding: 15px !important;
    }
    .container-login{
        padding: 0px !important;
    }
    .body-header-login {
        .yellow-color {
            block-size: 196px;
            inline-size: 300px;
        }
        .yellow-color:after {
            content: " ";
            position: absolute;
            border-radius: 0 100% 0 0;
            background: #f7e0a6;
            inline-size: 55%;
            block-size: 35%;
        }
        .text-image {
             .image {
                img {
                    width: 67% !important;
                }
            }
             .text {
                p {
                    
                    font-size: 25px !important;
                    
                }
            }
        }
    }
    .body-content-login {
        .nv-button, a.nv-button:link, a.nv-button:visited {
            color: #fff;
            text-decoration: none;
            width: 100%;
        }
    }
    .account-nav {
        & .image-profil {
            img {
                width: 85%;
            }
        }
    }
    .profil {
        & .name {
          display: none;
        }
    }
    .border-top{
       width: 105% ;
       .respo-footer-col{
           width: 50% !important;
           
       }
    }
    .nv_form_container {
       inline-size: 100% !important;
       margin-inline: auto;
   }
    .terms-part{
       display: block !important;
   }
   .border-top{
       padding: 0 5px 0 25px;
   }
   .navbar-brand{
    width: 70% !important;
    position: relative;
    right: 10px !important;
    top: 11px !important;
   }
   .image-profil {
       width: 61px !important;
       position: relative !important;
       height: 70px !important;
       border-radius: 50px;
       top: 8px;
       left: 10px;
   }
   .account-nav {
    position: relative;
    top: -80px !important;
    left: 10px;
    width: 180Px;
    max-width: 166px;
   }
   
   .profil {
    .name {
        display: none;
      }
   }
  
  
   .icon-card-section--icon-card-section-root,
        .icon-card-section--icon-card-grid {
           padding: 0px ;
       }
       .title-card {
           right: 0px;
           font-size: 20px;
       }
       .header-drop-nav {
            button {
                position: relative;
                right: 10px !important;
                font-size: 16px  !important;  
            }
       }
       .terms{
        .content{
            p{
                padding: 27px 105px 0 0;
            }
            
        }
       
       }
       footer{
        .all-image-footer {
            display: block;
            .second-logo{
                position: relative;
                bottom: 55px;
                left: 15px;
                width: 100px;
                height: 110px;
            }            
                        
        }
    }
       footer {
        position: relative;
        left: 14px;
        & .logo-footer-image {
            img {
                width: 110% !important;
                height: 100% !important;
                object-fit: contain !important;
            }
        }
    }


}







@media (max-width: 991px) {
    .row-for-footer {
        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: calc(-1 * var(--bs-gutter-y));
        margin-right: calc(-0.5 * var(--bs-gutter-x));
        margin-left: calc(-0.5 * var(--bs-gutter-x));
      }
    .mobile-setting-button{
        width: 180px;
        padding: 7px 46px;
        height: 40px;
    }
    #hidden-block {

        display: none; /* Ensure it's hidden by default on mobile */

        width: 100%; /* Adjust width for mobile */

    }
    .PatientForm_deceasedWrapper__GRJ5d{
        top: -10px !important;
    }
    .hereditaries-header {
        .title {
            p {
                font-size: 40px !important;
                font-weight: 500;
            }
            
        }
        .text{
            p {
                font-size: 14px;
                
            }
        }
    }
    .navbar {
        background-color: transparent !important;
        height: 145px;
    }
    .body_right{
        display: none;
    }
    .test_right {
        display: flex
    ;
        justify-content: center;
        margin: 30px 0px 32px;
        padding: 0;
    }
    .nv-formik-checkbox-group--checkbox-group{
        display: block !important;
    }
    .bs-stepper-header{
        width: 102% !important;
        span {

            font-size: 9px;
        }
    }
    .FormStepNavigation_actions__qIF9Y{
        gap: 20px 14px !important;
        justify-content: center;
    }
   
 .border-top{
    width: 105% ;
    .respo-footer-col{
        width: 50% !important;
        margin-top: -15px;
        
    }
 }
 .nv_form_container {
    inline-size: 100% !important;
    margin-inline: auto;
}
 .terms-part{
    display: block !important;
}
.border-top{
    padding: 0 5px 0 25px;
}
.navbar-brand{
    width: 70% !important;
    position: relative;
    right: 10px !important;
    top: 11px !important;
}
.image-profil {
    width: 61px !important;
    position: relative !important;
    height: 70px !important;
    border-radius: 50px;
    top: 8px;
    left: 35px;
}


.header-navbar{
display: none;
}

.profil {
    display: block;
    position: relative;
    left: 38px;
    top: 10px !important;

    .name {
        display: none;
      }
}
.drop-nav {
    .btn-group {
        margin: 0% 0 0px 0px;
    }
}


.icon-card-section--icon-card-section-root,
     .icon-card-section--icon-card-grid {
        padding: 0px ;
    }
    .title-card {
        right: 0px !important;
        font-size: 20px !important;
    }
}






@media (max-width: 720px) {
    
    .PanelCardItem_card___yPgH {
        padding: 30px;
        grid-column: span 12 !important;
    }
    .PanelCardItem_cardMinMain__1kqhx {
        height: 100px;
    }
    .hereditaries-content {
        .grid--grid {
            grid-template-columns: repeat(12, 1fr);
            display: block;
            padding: 0px;
        }
        .PanelCardItem_card___yPgH {
            margin: 30px 0px;
        }
    }
    
}











@media (min-width: 991px) and (max-width: 3000px) {
    .first-li-profil{
        height: 80px;
        border-bottom: 1px solid #d1d1d1;
    }
    .Container_narrowContainer__Tlxr8 {
        margin-inline: auto;
        inline-size: 570px;
    }
   .footer-responsiv{
    .first-mb{
        margin-left: 15%;
        margin-right: 200px;
    }
   }
   
   .terms{
    .content{
        margin-left: 15%;
       
    }
    
   }

   .nv-grid{
      grid-template-columns: repeat(12, 75px);
   }
 

   .hereditaries-header {
        padding: 20px 0 0px 155px;
        & .title {
            p {
                font-size: 60px;
                font-weight: 600;
            }
        }
    }

    .catalog-bar{
        padding: 10px 0 0 125px;

    }


    .nv-container {
        margin-inline: auto;
        inline-size: 1238px;

    }
    .body-left {
        width: calc(60% - 80px);
        margin-right: 80px;
    }
    .body_right {
        width: 40%;
        position: relative;
        margin-top: 0;
        .OrderContainerWrapper_geneTileWrapper__dqwHg {
            position: -webkit-sticky;
            position: sticky;
            top: 80px;
        }

    }
    
}




   
   @media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 95%;
    }
    
}




/*                    commande version mobile                 */
@media (max-width: 982px) {
    .commande-mobile{
        display: block;
        position: fixed;
        bottom: 0px;
        width: 100%;
        height: 80px;
        background: white;
        display: flex;
        justify-content: center;
        z-index: 9999999999;
        padding: 15px 20px 15px 20px;
        button{
            background-color: #128279 !important;
            color: white;
            font-weight: 600;
            font-size: 20px;
            border: none !important;
            width: 100%;
            border-radius: 25px !important;
        }
        .btn:hover {
            color: #128279;
            background-color: white !important;
            border:2px solid #128279 !important;
        }
        .modal.show .modal-commander {
            transform: none;
            width: 100%;
            height: 100%;
            margin: 0px;
        }
        
    }
    .btn-commande-modal{
        height: 80px;
        padding: 13px 0 13px 0;
        button{
            height: 100%;
        } 
    }





}
/*                    commande version mobile                 */
