 <div class="container main-container" >
        

        <div class="container body-container">
            <div class="body-title">
                <h3>Nos tests</h3>
                <p>Lorem Ipsum is a placeholder text used in the publishing and graphic design industries. Its purpose is to demonstrate the visual form of a document or a typeface without relying on meaningful content. Designers and developers often use it as a "filler" text during the layout or prototype phase of a project.</p>
            </div>
            <div class="content">
                <div class="content_title">
                    <h3>
                            Catalogue des tests
                    </h3>
                    <p>
                        Tu cherches autre chose ? Parcourez le catalogue de tests complet ou commandez via le suivi familial de BGEN ou les programmes de tests sponsorisés.                    </p>
                </div>
                <div class="cards-content">
                    <div class="row g-4">
                        <div class="col-12 col-md-6 col-lg-4 card-col first-card-home">
                            <a routerLink="/test_clinique" class="text-decoration-none" >
                                <div class="card h-100 card-hover">
                                    <div class="card-img-top " >
                                        <div class="image-card">
                                            <img src="assets/image/surveiller.png" alt="">
                                        </div>
                                    </div>
                                    <div class="card-body ">
                                        <h5 class="card-title">TEST MOLÉCULAIRE CLINIQUE</h5>
                                        <p class="card-text">consultez tous les tests de BGEN, y compris le diagnostic, la santé reproductive et l'option de santé proactive.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-12 col-md-6 col-lg-4  card-col second-card-home">
                            <a routerLink="/test_hereditaires" class="text-decoration-none">
                                <div class="card h-100 card-hover">
                                    <div class="card-img-top"   >
                                        <div class="image-card" >
                                            <img src="assets/image/cooperer.png" alt="">
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <h5 class="card-title">TEST HÉRÉDITAIRE</h5>
                                        <p class="card-text">consultez tous les tests de BGEN, y compris le diagnostic, la santé reproductive et l'option de santé proactive.</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>  
                </div>
            </div>
        </div>

            
        
    </div>