<div class="main-container">
    <div class="hereditaries-header">
        <div class="title">
            <p>Tests héréditaires</p>
        </div>
        <div class="text">
            <p>Les tests génétiques du cancer d'BGEN fournissent des informations exploitables qui peuvent
                éclairer le traitement et les cliniques <br>
                opportunités d’essais pour vos patients. Commandez l'un de nos panneaux pré-organisés ou choisissez
                un personnalisé<br>
                sélection de gènes pour un test sur mesure.</p>
        </div>
    </div>
    <div class="catalog-bar">
        <ul>
            <li><a routerlink="/">Test catalog</a></li> <svg xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
                <path
                    d="M13.1717 12.0007L8.22192 7.05093L9.63614 5.63672L16.0001 12.0007L9.63614 18.3646L8.22192 16.9504L13.1717 12.0007Z">
                </path>
            </svg>
            <li>Tests héréditaires</li>
        </ul>
    </div>
    <div class="container">
        
        <div class="container hereditaries-content">
            <section id="6SQ0b9vJQ3pvuTgYibzbRc">
                <div class="PanelCardsSection_greyBackground__Fx9Og"
                    data-cy="PanelCardsSection_test catalog hub - frequently ordered tests"
                    data-testid="panel-cards-section">
                    <div class="PanelCardsSection_root__7GKXZ">
                        <ul data-cy="PanelCardsSection_test catalog hub - frequently ordered tests_grid"
                            class="grid--grid nv-container">
                            <li class="PanelCardItem_card___yPgH card-command" data-testid="panel-cards-item">
                                <div aria-expanded="false"
                                    class="PanelCardItem_cardMain__CQV3l PanelCardItem_cardMinMain__1kqhx">
                                    <a
                                        class="PanelCardItem_titleRoot__9b1vT  genes-command"
                                        routerLink="/command" target="_self">
                                        <p class="PanelCardItem_cardTitle__Qmvxt"
                                            data-testid="panel-cards-item-title-link">Panel BRCA1 et BRCA2</p>
                                            <div class="gener-hereditaires">
                                                <div class="GeneTiles_geneTilesWrapper__7Leg7">
                                                    <div class="GeneTiles_tooltipButton__OZfWz" data-testid="gene-tile-item-wrapper">
                                                        <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5" data-testid="gene-tile-item" role="button" tabindex="0">
                                                            <div class="GeneTileItem_geneTitle__CWCVn">BRCA1</div>
                                                        </div>
                                                    </div>
                                                    <div class="GeneTiles_tooltipButton__OZfWz" data-testid="gene-tile-item-wrapper">
                                                        <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5" data-testid="gene-tile-item" role="button" tabindex="0">
                                                            <div class="GeneTileItem_geneTitle__CWCVn"> BRCA2</div>
                                                        </div>
                                                    </div>
                                                   
                                                                                         
                                                </div>
                                            </div>
                                    </a>
                                    <div class="PanelCardItem_cardInnerContainer__XAXMT">
                                        <div class="wrapperChildren" data-testid="tooltip-wrapper">
                                            <button
                                                aria-label="BGEN Multi-Cancer Panel - 12 genes"
                                                class="nv-plain-action PanelCardItem_cardGeneCount__sd_kN"
                                                data-testid="panel-cards-item-gene-count" type="button">12 genes
                                            </button>
                                        </div>    
                                    </div>
                                </div>
                                <a routerLink="/command"><button data-analytics-action="add-to-cart"
                                    data-analytics-product-id="01101"
                                    data-analytics-clinical-area-properties="BGEN Multi-Cancer Panel:Hereditary Cancer"
                                    aria-disabled="false"
                                    class="nv-button nv-button-medium nv-button-secondary PanelCardItem_addButton__XZw3L"
                                    data-testid="button_panel_add">Commander
                                </button></a>
                            </li>
                            <li class="PanelCardItem_card___yPgH card-command" data-testid="panel-cards-item">
                                <div aria-expanded="false"
                                    class="PanelCardItem_cardMain__CQV3l PanelCardItem_cardMinMain__1kqhx"><a
                                        class="PanelCardItem_titleRoot__9b1vT  genes-command"
                                        routerlink="/" target="_self">
                                        <p class="PanelCardItem_cardTitle__Qmvxt"
                                            data-testid="panel-cards-item-title-link">Panel de Predisposition Hereditaire aux
                                            cancers du Sein</p>
                                            <div class="gener-hereditaires">
                                                <div class="GeneTiles_geneTilesWrapper__7Leg7">
                                                    <div class="GeneTiles_tooltipButton__OZfWz" data-testid="gene-tile-item-wrapper">
                                                        <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5" data-testid="gene-tile-item" role="button" tabindex="0">
                                                            <div class="GeneTileItem_geneTitle__CWCVn">ATM</div>
                                                        </div>
                                                    </div>
                                                    <div class="GeneTiles_tooltipButton__OZfWz" data-testid="gene-tile-item-wrapper">
                                                        <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5" data-testid="gene-tile-item" role="button" tabindex="0">
                                                            <div class="GeneTileItem_geneTitle__CWCVn">BRCA1</div>
                                                        </div>
                                                    </div>
                                                    <div class="GeneTiles_tooltipButton__OZfWz" data-testid="gene-tile-item-wrapper">
                                                        <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5" data-testid="gene-tile-item" role="button" tabindex="0">
                                                            <div class="GeneTileItem_geneTitle__CWCVn">BRCA2</div>
                                                        </div>
                                                    </div>
                                                    <div class="GeneTiles_tooltipButton__OZfWz" data-testid="gene-tile-item-wrapper">
                                                        <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5" data-testid="gene-tile-item" role="button" tabindex="0">
                                                            <div class="GeneTileItem_geneTitle__CWCVn">BRIP1</div>
                                                        </div>
                                                    </div>
                                                    <div class="GeneTiles_tooltipButton__OZfWz" data-testid="gene-tile-item-wrapper">
                                                        <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5" data-testid="gene-tile-item" role="button" tabindex="0">
                                                            <div class="GeneTileItem_geneTitle__CWCVn">CDH1</div>
                                                        </div>
                                                    </div>
                                                    <div class="GeneTiles_tooltipButton__OZfWz" data-testid="gene-tile-item-wrapper">
                                                        <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5" data-testid="gene-tile-item" role="button" tabindex="0">
                                                            <div class="GeneTileItem_geneTitle__CWCVn">CHEK2</div>
                                                        </div>
                                                    </div>
                                                    <div class="GeneTiles_tooltipButton__OZfWz" data-testid="gene-tile-item-wrapper">
                                                        <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5" data-testid="gene-tile-item" role="button" tabindex="0">
                                                            <div class="GeneTileItem_geneTitle__CWCVn">NBN</div>
                                                        </div>
                                                    </div>
                                                    <div class="GeneTiles_tooltipButton__OZfWz" data-testid="gene-tile-item-wrapper">
                                                        <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5" data-testid="gene-tile-item" role="button" tabindex="0">
                                                            <div class="GeneTileItem_geneTitle__CWCVn">PALB2</div>
                                                        </div>
                                                    </div>
                                                    <div class="GeneTiles_tooltipButton__OZfWz" data-testid="gene-tile-item-wrapper">
                                                        <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5" data-testid="gene-tile-item" role="button" tabindex="0">
                                                            <div class="GeneTileItem_geneTitle__CWCVn">PTEN</div>
                                                        </div>
                                                    </div>
                                                    <div class="GeneTiles_tooltipButton__OZfWz" data-testid="gene-tile-item-wrapper">
                                                        <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5" data-testid="gene-tile-item" role="button" tabindex="0">
                                                            <div class="GeneTileItem_geneTitle__CWCVn">STK11</div>
                                                        </div>
                                                    </div>
                                                    
                                                                                         
                                                </div>
                                            </div>
                                    </a>
                                    <div class="PanelCardItem_cardInnerContainer__XAXMT">
                                        <div class="wrapperChildren" data-testid="tooltip-wrapper">
                                            <button
                                                aria-label="BGEN Multi-Cancer Panel - 12 genes"
                                                class="nv-plain-action PanelCardItem_cardGeneCount__sd_kN"
                                                data-testid="panel-cards-item-gene-count" type="button">12 genes
                                            </button>
                                        </div>    
                                    </div>
                                </div>
                                <a routerLink="/command"><button data-analytics-action="add-to-cart"
                                    data-analytics-product-id="01101"
                                    data-analytics-clinical-area-properties="BGEN Multi-Cancer Panel:Hereditary Cancer"
                                    aria-disabled="false"
                                    class="nv-button nv-button-medium nv-button-secondary PanelCardItem_addButton__XZw3L"
                                    data-testid="button_panel_add">Commander
                                </button></a>
                            </li>
                            <li class="PanelCardItem_card___yPgH card-command" data-testid="panel-cards-add-on-item-STAT">
                                <div aria-expanded="false"
                                    class="PanelCardItem_cardMain__CQV3l PanelCardItem_cardMinMain__1kqhx"><a
                                        class="PanelCardItem_titleRoot__9b1vT  genes-command"
                                        routerlink="/" target="_self">
                                        <p class="PanelCardItem_cardTitle__Qmvxt"
                                            data-testid="panel-cards-item-title-link">Panel de Predisposition Hereditaire aux
                                            cancers de l'Ovaire</p>
                                            <div class="gener-hereditaires">
                                                <div class="GeneTiles_geneTilesWrapper__7Leg7">
                                                    <div class="GeneTiles_tooltipButton__OZfWz" data-testid="gene-tile-item-wrapper">
                                                        <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5" data-testid="gene-tile-item" role="button" tabindex="0">
                                                            <div class="GeneTileItem_geneTitle__CWCVn">ATM</div>
                                                        </div>
                                                    </div>
                                                    <div class="GeneTiles_tooltipButton__OZfWz" data-testid="gene-tile-item-wrapper">
                                                        <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5" data-testid="gene-tile-item" role="button" tabindex="0">
                                                            <div class="GeneTileItem_geneTitle__CWCVn">BRCA1</div>
                                                        </div>
                                                    </div>
                                                    <div class="GeneTiles_tooltipButton__OZfWz" data-testid="gene-tile-item-wrapper">
                                                        <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5" data-testid="gene-tile-item" role="button" tabindex="0">
                                                            <div class="GeneTileItem_geneTitle__CWCVn">BRCA2</div>
                                                        </div>
                                                    </div>
                                                    <div class="GeneTiles_tooltipButton__OZfWz" data-testid="gene-tile-item-wrapper">
                                                        <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5" data-testid="gene-tile-item" role="button" tabindex="0">
                                                            <div class="GeneTileItem_geneTitle__CWCVn">BRIP1</div>
                                                        </div>
                                                    </div>
                                                    <div class="GeneTiles_tooltipButton__OZfWz" data-testid="gene-tile-item-wrapper">
                                                        <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5" data-testid="gene-tile-item" role="button" tabindex="0">
                                                            <div class="GeneTileItem_geneTitle__CWCVn">CDH1</div>
                                                        </div>
                                                    </div>
                                                    <div class="GeneTiles_tooltipButton__OZfWz" data-testid="gene-tile-item-wrapper">
                                                        <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5" data-testid="gene-tile-item" role="button" tabindex="0">
                                                            <div class="GeneTileItem_geneTitle__CWCVn">CHEK2</div>
                                                        </div>
                                                    </div>
                                                    <div class="GeneTiles_tooltipButton__OZfWz" data-testid="gene-tile-item-wrapper">
                                                        <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5" data-testid="gene-tile-item" role="button" tabindex="0">
                                                            <div class="GeneTileItem_geneTitle__CWCVn">EPCAM</div>
                                                        </div>
                                                    </div>
                                                    <div class="GeneTiles_tooltipButton__OZfWz" data-testid="gene-tile-item-wrapper">
                                                        <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5" data-testid="gene-tile-item" role="button" tabindex="0">
                                                            <div class="GeneTileItem_geneTitle__CWCVn">MLH1</div>
                                                        </div>
                                                    </div>
                                                    <div class="GeneTiles_tooltipButton__OZfWz" data-testid="gene-tile-item-wrapper">
                                                        <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5" data-testid="gene-tile-item" role="button" tabindex="0">
                                                            <div class="GeneTileItem_geneTitle__CWCVn">MSH2</div>
                                                        </div>
                                                    </div>
                                                    <div class="GeneTiles_tooltipButton__OZfWz" data-testid="gene-tile-item-wrapper">
                                                        <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5" data-testid="gene-tile-item" role="button" tabindex="0">
                                                            <div class="GeneTileItem_geneTitle__CWCVn">MSH6</div>
                                                        </div>
                                                    </div>                                                                                                                                          
                                                </div>
                                            </div>
                                    </a>
                                    <div class="PanelCardItem_cardInnerContainer__XAXMT">
                                        <div class="wrapperChildren" data-testid="tooltip-wrapper">
                                            <button
                                                aria-label="BGEN Multi-Cancer Panel - 12 genes"
                                                class="nv-plain-action PanelCardItem_cardGeneCount__sd_kN"
                                                data-testid="panel-cards-item-gene-count" type="button">12 genes
                                            </button>
                                        </div>    
                                    </div>
                                </div>
                                <a routerLink="/command"><button data-analytics-action="add-to-cart"
                                    data-analytics-product-id="01101"
                                    data-analytics-clinical-area-properties="BGEN Multi-Cancer Panel:Hereditary Cancer"
                                    aria-disabled="false"
                                    class="nv-button nv-button-medium nv-button-secondary PanelCardItem_addButton__XZw3L"
                                    data-testid="button_panel_add">Commander
                                </button></a>
                            </li>
                            <li class="PanelCardItem_card___yPgH card-command" data-testid="panel-cards-add-on-item">
                                <div aria-expanded="false"
                                    class="PanelCardItem_cardMain__CQV3l PanelCardItem_cardMinMain__1kqhx"><a
                                        class="PanelCardItem_titleRoot__9b1vT  genes-command"
                                        routerlink="/" target="_self">
                                        <p class="PanelCardItem_cardTitle__Qmvxt"
                                            data-testid="panel-cards-item-title-link">Panel de Predisposition Hereditaire aux
                                            cancers de l'Endometre</p>
                                            <div class="gener-hereditaires">
                                                <div class="GeneTiles_geneTilesWrapper__7Leg7">
                                                    <div class="GeneTiles_tooltipButton__OZfWz" data-testid="gene-tile-item-wrapper">
                                                        <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5" data-testid="gene-tile-item" role="button" tabindex="0">
                                                            <div class="GeneTileItem_geneTitle__CWCVn">EPCAM</div>
                                                        </div>
                                                    </div>
                                                    <div class="GeneTiles_tooltipButton__OZfWz" data-testid="gene-tile-item-wrapper">
                                                        <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5" data-testid="gene-tile-item" role="button" tabindex="0">
                                                            <div class="GeneTileItem_geneTitle__CWCVn">MLH1</div>
                                                        </div>
                                                    </div>
                                                    <div class="GeneTiles_tooltipButton__OZfWz" data-testid="gene-tile-item-wrapper">
                                                        <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5" data-testid="gene-tile-item" role="button" tabindex="0">
                                                            <div class="GeneTileItem_geneTitle__CWCVn">MSH2</div>
                                                        </div>
                                                    </div>
                                                    <div class="GeneTiles_tooltipButton__OZfWz" data-testid="gene-tile-item-wrapper">
                                                        <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5" data-testid="gene-tile-item" role="button" tabindex="0">
                                                            <div class="GeneTileItem_geneTitle__CWCVn">MSH6</div>
                                                        </div>
                                                    </div>
                                                    <div class="GeneTiles_tooltipButton__OZfWz" data-testid="gene-tile-item-wrapper">
                                                        <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5" data-testid="gene-tile-item" role="button" tabindex="0">
                                                            <div class="GeneTileItem_geneTitle__CWCVn">PMS2</div>
                                                        </div>
                                                    </div>
                                                    <div class="GeneTiles_tooltipButton__OZfWz" data-testid="gene-tile-item-wrapper">
                                                        <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5" data-testid="gene-tile-item" role="button" tabindex="0">
                                                            <div class="GeneTileItem_geneTitle__CWCVn">POLE</div>
                                                        </div>
                                                    </div>
                                                    <div class="GeneTiles_tooltipButton__OZfWz" data-testid="gene-tile-item-wrapper">
                                                        <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5" data-testid="gene-tile-item" role="button" tabindex="0">
                                                            <div class="GeneTileItem_geneTitle__CWCVn">STK11</div>
                                                        </div>
                                                    </div>
                                                    <div class="GeneTiles_tooltipButton__OZfWz" data-testid="gene-tile-item-wrapper">
                                                        <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5" data-testid="gene-tile-item" role="button" tabindex="0">
                                                            <div class="GeneTileItem_geneTitle__CWCVn">TP53</div>
                                                        </div>
                                                    </div>
                                                                                                                                                                                            
                                                </div>
                                            </div>
                                    </a>
                                    <div class="PanelCardItem_cardInnerContainer__XAXMT">
                                        <div class="wrapperChildren" data-testid="tooltip-wrapper">
                                            <button
                                                aria-label="BGEN Multi-Cancer Panel - 12 genes"
                                                class="nv-plain-action PanelCardItem_cardGeneCount__sd_kN"
                                                data-testid="panel-cards-item-gene-count" type="button">12 genes
                                            </button>
                                        </div>    
                                    </div>
                                </div>
                                <a routerLink="/command"><button data-analytics-action="add-to-cart"
                                    data-analytics-product-id="01101"
                                    data-analytics-clinical-area-properties="BGEN Multi-Cancer Panel:Hereditary Cancer"
                                    aria-disabled="false"
                                    class="nv-button nv-button-medium nv-button-secondary PanelCardItem_addButton__XZw3L"
                                    data-testid="button_panel_add">Commander
                                </button></a>
                            </li>
                            <li class="PanelCardItem_card___yPgH card-command" data-testid="panel-cards-add-on-item">
                                <div aria-expanded="false"
                                    class="PanelCardItem_cardMain__CQV3l PanelCardItem_cardMinMain__1kqhx"><a
                                        class="PanelCardItem_titleRoot__9b1vT  genes-command"
                                        routerlink="/" target="_self">
                                        <p class="PanelCardItem_cardTitle__Qmvxt"
                                            data-testid="panel-cards-item-title-link">Panel de Predisposition Hereditaire aux
                                            cancers de la Prostate</p>
                                            <div class="gener-hereditaires">
                                                <div class="GeneTiles_geneTilesWrapper__7Leg7">
                                                    <div class="GeneTiles_tooltipButton__OZfWz" data-testid="gene-tile-item-wrapper">
                                                        <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5" data-testid="gene-tile-item" role="button" tabindex="0">
                                                            <div class="GeneTileItem_geneTitle__CWCVn">ATM</div>
                                                        </div>
                                                    </div>
                                                    <div class="GeneTiles_tooltipButton__OZfWz" data-testid="gene-tile-item-wrapper">
                                                        <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5" data-testid="gene-tile-item" role="button" tabindex="0">
                                                            <div class="GeneTileItem_geneTitle__CWCVn">BRCA1</div>
                                                        </div>
                                                    </div>
                                                    <div class="GeneTiles_tooltipButton__OZfWz" data-testid="gene-tile-item-wrapper">
                                                        <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5" data-testid="gene-tile-item" role="button" tabindex="0">
                                                            <div class="GeneTileItem_geneTitle__CWCVn">BRCA2</div>
                                                        </div>
                                                    </div>
                                                    <div class="GeneTiles_tooltipButton__OZfWz" data-testid="gene-tile-item-wrapper">
                                                        <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5" data-testid="gene-tile-item" role="button" tabindex="0">
                                                            <div class="GeneTileItem_geneTitle__CWCVn">CHEK2</div>
                                                        </div>
                                                    </div>
                                                    <div class="GeneTiles_tooltipButton__OZfWz" data-testid="gene-tile-item-wrapper">
                                                        <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5" data-testid="gene-tile-item" role="button" tabindex="0">
                                                            <div class="GeneTileItem_geneTitle__CWCVn">EPCAM</div>
                                                        </div>
                                                    </div>
                                                    <div class="GeneTiles_tooltipButton__OZfWz" data-testid="gene-tile-item-wrapper">
                                                        <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5" data-testid="gene-tile-item" role="button" tabindex="0">
                                                            <div class="GeneTileItem_geneTitle__CWCVn">HOXB13</div>
                                                        </div>
                                                    </div>
                                                    <div class="GeneTiles_tooltipButton__OZfWz" data-testid="gene-tile-item-wrapper">
                                                        <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5" data-testid="gene-tile-item" role="button" tabindex="0">
                                                            <div class="GeneTileItem_geneTitle__CWCVn">MLH1</div>
                                                        </div>
                                                    </div>
                                                    <div class="GeneTiles_tooltipButton__OZfWz" data-testid="gene-tile-item-wrapper">
                                                        <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5" data-testid="gene-tile-item" role="button" tabindex="0">
                                                            <div class="GeneTileItem_geneTitle__CWCVn">MSH2</div>
                                                        </div>
                                                    </div>
                                                    <div class="GeneTiles_tooltipButton__OZfWz" data-testid="gene-tile-item-wrapper">
                                                        <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5" data-testid="gene-tile-item" role="button" tabindex="0">
                                                            <div class="GeneTileItem_geneTitle__CWCVn">MSH6</div>
                                                        </div>
                                                    </div>
                                                    <div class="GeneTiles_tooltipButton__OZfWz" data-testid="gene-tile-item-wrapper">
                                                        <div class="GeneTileItem_root__WUTBM GeneTileItem_selected__oghO5" data-testid="gene-tile-item" role="button" tabindex="0">
                                                            <div class="GeneTileItem_geneTitle__CWCVn">NBN</div>
                                                        </div>
                                                    </div>                                                                                                                                           
                                                </div>
                                            </div>
                                    </a>
                                    <div class="PanelCardItem_cardInnerContainer__XAXMT">
                                        <div class="wrapperChildren" data-testid="tooltip-wrapper">
                                            <button
                                                aria-label="BGEN Multi-Cancer Panel - 12 genes"
                                                class="nv-plain-action PanelCardItem_cardGeneCount__sd_kN"
                                                data-testid="panel-cards-item-gene-count" type="button">12 genes
                                            </button>
                                        </div>    
                                    </div>
                                </div>
                                <a routerLink="/command"><button data-analytics-action="add-to-cart"
                                    data-analytics-product-id="01101"
                                    data-analytics-clinical-area-properties="BGEN Multi-Cancer Panel:Hereditary Cancer"
                                    aria-disabled="false"
                                    class="nv-button nv-button-medium nv-button-secondary PanelCardItem_addButton__XZw3L"
                                    data-testid="button_panel_add">Commander
                                </button></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>

    </div>

        
       
</div>